<div>
  <h3 class="d-flex justify-content-center" style="line-height: 3.2;">
    About us
  </h3>
</div>

<div class="container section-heading">
  <!-- ABOUT US -->
  <div class="panel single-accordion">
    <h6>
      <a
        ><p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos officia
          cumque reiciendis consequatur illum quia vitae iusto commodi, culpa
          quam numquam neque accusamus quasi aliquid fugiat eum optio aperiam.
          Amet! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Praesentium laudantium quo qui vel pariatur optio cumque quisquam
          laboriosam excepturi totam facere, ratione quis eum quasi ex. Sequi
          repudiandae officia error!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          earum nulla quidem laboriosam est iusto, deserunt voluptatem
          perspiciatis saepe consequatur quas facere dignissimos illum minima
          nostrum atque natus hic recusandae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptas
          natus assumenda laboriosam deserunt expedita unde voluptates ut
          obcaecati quidem? Minima tempora omnis facere sed obcaecati ut rem
          labore ad!
        </p>
      </a>
    </h6>
  </div>
</div>
