<style>
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
</style>
<!-- about us -->
<div>
  <div>
    <h3 class="d-flex justify-content-center" style="line-height: 3.2">
      About us
    </h3>
  </div>

  <div class="container section-heading" style="margin-bottom: 10px">
    <!-- ABOUT US -->
    <div class="panel single-accordion" style="padding-bottom: 30px">
      <h6>
        <a
          ><p style="text-transform: none;" >
            Skolar is an online learning platform started with an intend to help
            students and professionals get placed in their dream companies by
            providing them with the right training and path to outperform their
            placement exams.
          </p>
          <p style="text-transform: none;">
            We have built the training programs for both students in college who
            are applying in college placements and also for working
            professionals trying to switch between the companies.
          </p>
          <p style="text-transform: none;">
            We dedicate our platform to providing you with the very best
            mentorship on our courses, with an emphasis on Interactive learning
            style, a great mentorship workaround, and affordability across all
            the courses thus helping students achieve more holistic education
            and prepare them for better career opportunities.
          </p>
        </a>
      </h6>
    </div>
  </div>
</div>

<!-- meet the team  -->
<section
  class="popular-courses-area section-padding-100-0"
  style="background-image: url(img/core-img/texture.png); margin-bottom: 50px"
>
  <div>
    <h3
      class="d-flex justify-content-center"
      style="line-height: 3.2; margin-top: -88px"
    >
      Meet the team
    </h3>
  </div>
  <!-- members -->
  <div class="container">
    <div class="row">
      <!-- single member -->
      <div class="column">
        <div class="card">
          <img src="img/tau2.jpg" alt="Jane" />
          <div class="container">
            <h4>Taufeeq Ahmad</h4>
            <p class="title">
              CEO & Founder <br />
              <a href="https://www.linkedin.com/in/9108699055/">linkedin</a> <br />
              <a href="mailto:taufique@skolar.in">taufique@skolar.in</a>
            </p>
          </div>
        </div>
      </div>
      <!-- single member -->
      <div class="column">
        <div class="card">
          <img src="/img/WhatsApp Image 2020-08-21 at 20.14.jpg" alt="Mike" />
          <div class="container">
            <h4>Muskan Rastogi</h4>
            <p class="title">
              COO & Co-Founder <br />
              <a href="#">linkedin</a> <br />
              <a href="mailto:Muskan@skolar.in">Muskan@skolar.in</a>
            </p>
          </div>
        </div>
      </div>
      <!-- single member -->
      <div class="column">
        <div class="card">
          <img src="/img/sc.jpeg" alt="Mike" />
          <div class="container">
            <h4>Shubham Verma</h4>
            <p class="title">
              CMO <br/>
              <a href="https://www.linkedin.com/in/shubham-verma97/">linkedin</a> <br /><a href="mailto:shubham.verma@skolar.in">shubham.verma@skolar.in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- mission and vision  -->
<section class="register-now section-padding-100-0 d-flex justify-content-between">
  <!-- mission -->
  <div class="register-now-countdown mb-100" data-wow-delay="500ms">
    <h3>Mission</h3>
    <p>
      Skolar is dedicated to the highest quality of mentorship and training
      delivered with innovation, ingenuity and creativity.
    </p>
  </div>
  <!-- vision -->
  <div class="register-now-countdown mb-100" data-wow-delay="500ms">
    <h3>Vision</h3>
    <p>
      To accelerate the learning among students such that ultimately the
      graduate students will get the best job opportunities.
    </p>
  </div>
</section>
