<style>
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: inline-block;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
    width: 100%;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }



  /* .button {
    border-radius: 6px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(248, 105, 80);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #3762f0;
  } */
</style>

<div>
  <h3 class="d-flex justify-content-center" style="line-height: 3.2;">
    About us
  </h3>
</div>

<div class="container section-heading" style="margin-bottom: 10px;">
  <!-- ABOUT US -->
  <div class="panel single-accordion" >
    <h6>
      <a
        ><p>
          Skolar is an online learning platform started intending to help
          students and professionals get placed in their dream companies by
          providing them with the right training and path to outperform their
          placement exams.
        </p>
        <p>
          We have built the training programs for both students in college who
          are applying in college placements and also for working professionals
          trying to switch between the companies.
        </p>
        <p>
          We dedicate our platform to providing you with the very best
          mentorship on our courses, with an emphasis on Interactive learning
          style, a great mentorship workaround, and affordability across all the
          courses thus helping students achieve more holistic education and
          prepare them for better career opportunities.
        </p>
      </a>
    </h6>
  </div>
</div>
<div>
  <h3 class="d-flex justify-content-center" style="line-height: 3.2;">
    Meet the team
  </h3>
</div>

<!-- meet the team  -->
<section
  class="popular-courses-area section-padding-100-0"
  style="background-image: url(img/core-img/texture.png); margin-bottom: 50px;"
>
  <div class="container" style="width: 700px;">
    <!-- meet the team heading  -->
    <div class="row">
      <div class="column">
        <div class="card">
          <img
            src="img/taufeeq.jpg"
            alt="Jane"
            style="width: 100%; padding: 10px; border-radius: 10px;"
          />
          <div class="container">
            <h2>Taufeeq Ahmad</h2>
            <p class="title">CEO & Co-Founder</p>
            <p>taufique@skolar.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img
            src="img/muskan.jpg"
            alt="Mike"
            style="width: 100%; padding: 10px; border-radius: 10px;"
          />
          <div class="container">
            <h2>Muskan Rastogi</h2>
            <p class="title">COO & Co-Founder</p>
            <p>muskan@skolar.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- mission and vision  -->
<section
  class="register-now section-padding-100-0 d-flex justify-content-between"
>
  <div class="register-now-countdown mb-100" data-wow-delay="500ms">
    <h3>Mission</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum
      laoreet elit, sit amet tincidunt mauris ultrices vitae. Donec bibendum
      tortor sed mi faucibus vehicula. Sed erat lorem
    </p>
  </div>

  <div class="register-now-countdown mb-100" data-wow-delay="500ms">
    <h3>Vision</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum
      laoreet elit, sit amet tincidunt mauris ultrices vitae. Donec bibendum
      tortor sed mi faucibus vehicula. Sed erat lorem
    </p>
  </div>
</section>
