<div>
  <h3 class="d-flex justify-content-center" style="margin-top: 30px;margin-bottom: 2.5rem;padding-right: 0px;" >
    How to crack Off-Campus Placement the next time you apply?
  </h3>
</div>

<!-- ##### Blog Details Content ##### -->
<div class="blog-details-content section-padding-100" style="padding-top: 0;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <!-- Blog Details Text -->
        <div class="blog-details-text">
          <p>
            Off-Campus placements require additional efforts, and it can be more
            intimidating as compared to on-campus placement drives. But it gives
            you a diverse set of job opportunities, and it gives you a lot more
            exposure to the job market.
          </p>
          <p>
            <b>1. Prepare an impressive resume:</b> The HR and Recruiting team
            spend a very short interval of time scrolling through your resume
            and hence making an impeccable resume is very important. Use only a
            standard resume template.
          </p>
          <p>
            <b>2. Check company websites for updates:</b> most companies post
            their job openings on their websites so keep checking it.
          </p>
          <p>
            <b> 3. Stay active in your network:</b> Always stay in touch with
            your friends and your professors. You never know who can help you
            grab an opportunity.
          </p>
          <p>
            <b>4. Give placement tests:</b> you can always consider giving tests
            like AMCAT, CoCubes, or eLitmus, as it can help you directly apply
            to the companies accepting their test scores.
          </p>
          <p>
            <b> 5.Aptitude Preparation:</b> Prepare well for your aptitude as it
            is the first screening test.
          </p>
          <p>
            <b>7. Check job portals:</b> Register yourself on the job portals.
            Check the job portals regularly, and then you can apply accordingly
            for the required post.
          </p>
          <p>
            <b>8. Coding Preparation:</b> Most of the companies also conduct a
            technical round along with the aptitude round so prepare well for
            the coding also.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Details Content ##### -->
