<section class="blog-area blog-page section-padding-100">
  <div class="row">
    <div class="col-12">
      <div class="section-heading">
        <h3>Our Blogs</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!-- <img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-1" class="blog-headline">
              <h4>College Placements: A Definitive Preparation Guide</h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              College placements or Campus placement is a program conducted
              within universities or other educational institutions to provide
              job opportunities to students who are in their last year or have
              graduated.
            </p>

            <div class="load-more text-center">
              <a href="#blog-1" class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!-- <img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-2" class="blog-headline">
              <h4>
                How to crack Off-Campus Placement the next time you apply?
              </h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              Off-Campus placements require additional efforts, and it can be
              more intimidating as compared to on-campus placement drives. But
              it gives you a diverse set of job opportunities, and it gives you
              a lot more exposure to the job market.
            </p>
            <div class="load-more text-center">
              <a href="#blog-2" class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!-- <img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-4" class="blog-headline">
              <h4>
                Prepare for Aptitude tests: A Guide
              </h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              The aptitude test is the first screening test used to filter
              students based on their logical ability, decision-making skills,
              and personality. The aptitude tests help the employers to assess
              the skills and abilities of candidates as it reflects their
              capacity to do the job.
            </p>
            <div class="load-more text-center">
              <a href="#blog-4" class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!-- <img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-5" class="blog-headline">
              <h4>
                How to prepare for eLitmus tests
              </h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              eLitmus is India’s largest assessment and recruitment company. It
              enables companies to hire talent which performs on the job. this
              exam is very important for freshers as it can help students grab a
              better oppurtunity.
            </p>
            <div class="load-more text-center">
              <a href="#blog-5" class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!-- <img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-7" class="blog-headline">
              <h4>
                Prepare for AMCAT in 2020-21
              </h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              Aspiring Minds Computer Adaptive Test(AMCAT) is a test to evaluate
              a candidate’s skills such as aptitude skills,reasoning
              skills,technical skills and mental ability skills.
            </p>
            <div class="load-more text-center">
              <a href="#blog-7" class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-6">
        <div
          class="single-blog-area mb-100 wow fadeInUp"
          data-wow-delay="250ms"
        >
          <!--<img src="img/blog-img/1.jpg" alt=""> -->
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="#blog-8" class="blog-headline">
              <h4>
                Crack tricky INTERVIEW QUESTIONS in no time
              </h4>
              <p>20 Aug 2020</p>
            </a>
            <div class="meta d-flex align-items-center">
              Muskan Rastogi
              <span></span>
            </div>
            <p>
              The questions listed below are the most common and most tricky
              ones asked in an interview from a candidate.
            </p>
            <div class="load-more text-center" >
              <a href="#blog-8"  class="btn clever-btn btn-2">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div
          class="load-more text-center mt-100 wow fadeInUp"
          data-wow-delay="1000ms"
        >
          <a href="#" class="btn clever-btn btn-2">Load More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Area End ##### -->
