<div>
  <h3 class="d-flex justify-content-center" style="line-height: 3.2;">
    How to prepare for eLitmus tests
  </h3>
</div>

<!-- ##### Blog Details Content ##### -->
<div class="blog-details-content section-padding-100" style="padding-top: 0;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <!-- Blog Details Text -->
        <div class="blog-details-text">
          <p>
            eLitmus is India’s largest assessment and recruitment company. It
            enables companies to hire talent which performs on the job. this
            exam is very important for freshers as it can help students grab a
            better oppurtunity.
          </p>

          <p>
            <b> What is the eLitmus test?</b> eLitmus pH test or Hiring
            Potential Test is an assessment test conducted by eLitmus to
            evaluate candidates’ suitability for recruitment. Now, most of the
            companies hire through eLitmus pH test rather than conducting their
            own drives. The candidates are called for interviews based upon
            their performance in the test. This pH test assesses the candidate's
            knowledge of fundamentals rather than their core subjects skills.
          </p>
          <p>
            <b> What are the eligibility criteria for the eLitmus test?</b>
            There is no specific eligibility criteria for eLitmus. Any fresher
            or experienced professional can give this test. However, the
            companies accepting eLitmus score can have their own eligibility
            criteria
          </p>
          <p>
            <b> The pattern of the eLitmus test?</b> eLitmus pH is an offline
            test. The time limit for this test is 2 hrs. This test has 3
            sections. This test has 3 sections.
          </p>
          <img src="/img/Screenshot from 2020-08-23 00-21-27.png" alt="" />
          <br />
          <p>
            There is no sectional time limit. Each question consists of 10
            marks. <br />
            For a good eLitmus score or percentile : <br />
            Quantitative aptitude 6- 9 <br />
            Logical Reasoning 5-7 <br />
            Verbal Reasoning 12-15 <br />
          </p>
          <p>
            <b> Marking rule of eLitmus?</b> <br />
            The marking rule of eLitmus is unique as negative marking starts
            only after 25% of the attempted questions turn out to be wrong.
            <br />
            For e.g. If you have attempted 20 questions then the total number of
            wrong answers you are allowed is 5. If you get less than 5 questions
            wrong, then there will be no negative marking. If you get 12 wrong,
            then 7 of them will draw a negative mark of 50% each. <br />
            Each section is treated independently for negative marking.
          </p>
          <p>
            <b> How many times eLitmus tests can be given? </b> <br />

            There is no restriction on the number of times you can take the
            eLitmus pH test. And there is no mandatory gap that a student is
            supposed to maintain before giving another pH test.
            <br />
            This means candidates can give the eLitmus test as many times as
            they want by paying the required fees.
          </p>
          <p>
            <b> How to prepare for the eLitmus test?</b> <br />
            For eLitmus preparations visit our eLitmus preparation series at
            Skolar as we have designed a course eminently intended for you. For
            more information visit our course. [link to the course]
          </p>
          <p>
            <b> Few important points :</b><br />
            1. Unattempted questions also contribute to the negative marking.
            <br />
            2. The latest score is considered irrespective of higher and lower.
            <br />
            3. The number of attempts for eLitmus is unlimited. <br />
            4. Companies can only see your latest score, they can’t see the
            number of times you have attempted and your other scores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Details Content ##### -->
