<!-- <div class="map-area">
		<div id="googleMap">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1650.0411125007809!2d74.34425382604873!3d34.19537547849355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1a9d97a8cfd7f%3A0x32dd47ca2e22966!2zMzTCsDExJzQ2LjAiTiA3NMKwMjAnMzYuNiJF!5e0!3m2!1sen!2sin!4v1590734932177!5m2!1sen!2sin"
				width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
				aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div> -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area">
	<div class="container">
		<div class="row">
			
			<!-- Contact Info -->
			<div class="col-12 col-lg-6">
				<div class="contact--info mt-50 mb-100">
					<h4>Contact Info</h4>
					<ul class="contact-list">
						<li>
							<h6><i class="fa fa-clock-o" aria-hidden="true"></i> Business Hours</h6>
							<h6>9:00 AM - 18:00 PM</h6>
						</li>
						<li>
							<h6><i class="fa fa-phone" aria-hidden="true"></i> Number</h6>
							<a href="tel:+91 9419495173"><h6>+91 9419495173</h6></a>
						</li>
						<li>
							<h6><i class="fa fa-envelope" aria-hidden="true"></i> Email</h6>
							<a href="mailto:support@skolar.in"><h6>support@skolar.in</h6></a>
						</li>
						<li>
							<h6><i class="fa fa-map-pin" aria-hidden="true"></i> Address</h6>
							<h6>Lorem ipsum dolor sit amet consectetur </h6>
						</li>
					</ul>
				</div>
			</div>

			<!-- Contact Form -->
			<div class="col-12 col-lg-6 w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
				<div class="contact-form w3-content">
					<h4>Get In Touch</h4>
					<script type="text/javascript">var submitted = false;</script>

					<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSd9VhpHhjfErGCSBW571itsK-hHwSRNCGa9HAnGgeRZHdGMew/formResponse"
					 name="submit-to-google-sheet" id="test-form" method="post">

						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" name="entry.1980479143" placeholder="Name" required />
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="form-group">

									<input type="email" class="form-control" name="entry.1370852459" placeholder="Email"
										required />
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<textarea type="text" name="entry.2007119485" class="form-control" cols="30" rows="10"
										placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-12">
								<button class="btn clever-btn w-100" type="submit" id="position">SEND</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
