<!-- ##### Popular Course Area Start ##### -->
<section class="popular-courses-area section-padding-100">
  <div class="container">
    <div class="row">
      
      <!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4>Placement training</h4></a>
		
						<p>
							Are you worried about your college placements? Don’t worry, 
							we got your back! We have an ideal course eminently intended 
							for you. Be it campus placement test or any other exams, this 
							course will help you enhance your problem-solving ability and master the tricks
						</p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 320
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/Qwmd5Lx" ><del>₹6599</del> <span> </span> ₹3599</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
					<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
					<a href="#elitmus">
						<img src="/img/imgs/top-view-photo-of-girl-watching-through-imac-4144294.jpg" alt="">
					</a>
						<!-- Course Content -->
						<div class="course-content">
							<a href="#elitmus"><h4>eLitmus</h4></a>
							<p>	Have you ever dreamt of joining the Multi-National companies 
								like Microsoft, Samsung India Software Operation? With this course, you can! Get trained to static, dynamic, and adaptive kinds of problems in a single course. Start your learning 
								journey with Skolar because we don’t stop until you are done.
							</p>
						</div>
					
						<div class="row">
							<div class="col-12">
							  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
								<a href="#elitmus" class="btn clever-btn btn-2">Register</a>
							  </div>
							</div>
						</div>					
						<!-- Seat Rating Fee -->
						<div class="seat-rating-fee d-flex justify-content-between">
							<div class="seat-rating h-100 d-flex align-items-center">
								<div class="seat">
									<i class="fa fa-user" aria-hidden="true"></i> 970
								</div>
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i> 4.1
								</div>
							</div>
							<div class="course-fee h-100">
								<a href="https://rzp.io/l/RrkJfYr"><del>₹6999</del><span> </span>₹3999</a>
							</div>
						</div>
					</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>Test series</h4></a>
						
						<p> 
						Done with your preparation for college placements and other exams? Run through 
						our mock tests and company-specific tests based on an updated test pattern to triumph the game 
						of recruitment with Skolar. Practice does make perfect!
					</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9"><del>₹1499</del><span> </span>₹999</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-teenager-with-many-books-3853427.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>CoCubes</h4></a>
						
						<p> 
							Practice what you learned, this Module contains mock tests based on different domains and the difficulty level changes as you solve more tests. 
							You can practice by either writing the test about a particular subject/domain or you can practice for a particular company.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
      </div>

     	<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/six-woman-standing-and-siting-inside-the-room-1181622.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>AMCAT</h4></a>
						
						<p> 
							Practice what you learned, this Module contains mock tests based on different domains and the difficulty level changes as you solve more tests. 
							You can practice by either writing the test about a particular subject/domain or you can practice for a particular company.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Popular Course Area End ##### -->
