<!-- ##### Popular Course Area Start ##### -->
<section class="popular-courses-area section-padding-100">
  <div class="container">
    <div class="row">
      
      <!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4>Placement training</h4></a>
            <p>A large portion of the students who are planning for placements have to learn quantitative aptitude, 
              logical reasoning and verbal reasoning as major topics as these domains contain around 60 - 70 percent 
              weightage of the test, trailed by the specialized subjects like C++, C, DSA, DBMS, OS, and networking.
              </p>
              <p>
                Students gain proficiency with these specialized subjects while in college however in 
                general lose handle the quant and reasoning.
              </p>
              <p>
                Along these lines, we have built up this program which will assist students with 
                cracking their placement exams. 
              </p>
              <p>
                You will be learning all the significant topics of quant, reasoning, and technical subjects by 
                solving different levels of problems, furthermore program we will be focusing on how to solve the maximum
                ber of questions by learning fun tips and tricks.
              </p>
              <p>
                <b>Deliverables</b>
                <ol>
                  <li>8 weeks of hybrid instructing.</li>
                  <li>6 classes per week followed by training papers.</li>
                  <li>live doubt session per week with the mentors.</li>
                  <li>8 mock test papers made from previous years placement papers.</li>
                  <li>Free test series worth 1800 rupees which contains mock test and sample test papers where you 
                  can practice questions on any domain or give mock test for multiple companies and assess yourself</li>
                  <li>Live talk on resume building, interview preparation, and interview questions, and puzzles.</li>
                </ol>
              </p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 320
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/Qwmd5Lx" >₹4000</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
					<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
					<a href="#elitmus">
						<img src="/img/imgs/blur-book-candle-close-up-207700.jpg" alt="">
					</a>
						<!-- Course Content -->
						<div class="course-content">
							<a href="#elitmus"><h4>eLitmus</h4></a>
							<p>eLitmus is an assessment program helping technology companies to hire entry-level professionals directly and If you are a college student then this program is for you. 
							The program contains learning modules and test series entirely designed for the preparation of the eLitmus test.</p>
						</div>
					
						<div class="row">
							<div class="col-12">
							  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
								<a href="#elitmus" class="btn clever-btn btn-2">Register</a>
							  </div>
							</div>
						</div>					
						<!-- Seat Rating Fee -->
						<div class="seat-rating-fee d-flex justify-content-between">
							<div class="seat-rating h-100 d-flex align-items-center">
								<div class="seat">
									<i class="fa fa-user" aria-hidden="true"></i> 970
								</div>
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i> 4.1
								</div>
							</div>
							<div class="course-fee h-100">
								<a href="https://rzp.io/l/RrkJfYr">₹6500</a>
							</div>
						</div>
					</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>Test series</h4></a>
						
						<p> 
							Practice what you learned, this Module contains mock tests based on different domains and the difficulty level changes as you solve more tests. 
							You can practice by either writing the test about a particular subject/domain or you can practice for a particular company.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
      </div>

      <!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-teenager-with-many-books-3853427.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>CoCubes</h4></a>
						
						<p> 
							Practice what you learned, this Module contains mock tests based on different domains and the difficulty level changes as you solve more tests. 
							You can practice by either writing the test about a particular subject/domain or you can practice for a particular company.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
      </div>

      <!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/six-woman-standing-and-siting-inside-the-room-1181622.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>AMCAT</h4></a>
						
						<p> 
							Practice what you learned, this Module contains mock tests based on different domains and the difficulty level changes as you solve more tests. 
							You can practice by either writing the test about a particular subject/domain or you can practice for a particular company.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
      </div>

    </div>
  </div>
</section>
<!-- ##### Popular Course Area End ##### -->
