<!--##### request a call back start #####-->
<!-- <section style="background-color: #ccd4ec;" >
	<div class="row" style="margin-left:0px; margin-right:0px">
		<div class="col-12">
			<div class="section-heading" style="margin-bottom: 0; margin-top: 50px;">
				<a href="https://forms.gle/QLNqZcExHfQH5yzh7" target="_blank" id="coursesBtn"  class="btn clever-btn" 
				style="background-color: rgb(255, 255, 255);
				color: black;
				margin-bottom: 50px; 
				letter-spacing: 4px;
				font-size: 20px;">Request a call back</a>
			</div>
		</div>
	</div>	
</section> -->
<!-- <section style="background-color: #ccd4ec;" >
	<div class="row" style="margin-left:0px; margin-right:0px">
		<div class="col-12">
      <div class="section-heading" style=" margin-bottom:20px ; margin-top: 20px;">
     <a href="https://forms.gle/UqcEzzkvzEJPHjNk6" target="_blank"> <h5 class="call-to-action">Request a call back</h5> </a>
      
			</div>
		</div>
	</div>	
</section> -->
<!--##### request a call back end #####-->


<!-- ##### Popular Course Area Start ##### -->
<section class="popular-courses-area section-padding-100" style="
padding-bottom: 0px;">
	
  <div class="container">
    <div class="row">
			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4 >Placement Training Program Advanced Bundle</h4></a>
		
						<p style="text-align: justify;" >
							Are you worried about your college placements? Don’t worry, 
							we got your back! We have an ideal course eminently intended 
							for you. Be it campus placement test or any other exams, this 
							course will help you enhance your problem-solving ability and master the tricks
						</p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 362
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/7dCnLAH" ><del>₹20000</del> <span> </span> ₹16000</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4 >Placement Training Program Intermediate Bundle</h4></a>
		
						<p style="text-align: justify;" >
							Are you worried about your college placements? Don’t worry, 
							we got your back! We have an ideal course eminently intended 
							for you. Be it campus placement test or any other exams, this 
							course will help you enhance your problem-solving ability and master the tricks
						</p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 362
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/7dCnLAH" ><del>₹12000</del> <span> </span> ₹9000</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>Placement test series</h4></a>
						
						<p style="text-align: justify;"> 
						Done with your preparation for college placements and other exams? Run through 
						our mock tests and company-specific tests based on an updated test pattern to triumph the game 
						of recruitment with Skolar. Practice does not make perfect. Only right practice makes you perfect!
					</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 120
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.6
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/7dCnLAH"><del>₹1999</del><span> </span>₹1299</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
					<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
						<a href="#dsalgo">  
							<img src="/img/imgs/algo1.jpg">
						<!-- Course Content -->
						<div class="course-content">
						<a href="#dsalgo">	<h4>DS Algo and Competitive Coding</h4></a>
							
							<p style="text-align: justify;"> 
								Want to get placed into your dream company like Paytm, Amazon, or Cisco? Join our Data structures & ALGO course today to build up your programming skills with a competitive edge and take a step ahead towards your dreams. 
	
							</p>
						</div>
				
						<div class="row">
							<div class="col-12">
								<div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
								<a href="#dsalgo" class="btn clever-btn btn-2">Register</a>
								</div>
							</div>
						</div>	
						<!-- Seat Rating Fee -->
						<div class="seat-rating-fee d-flex justify-content-between">
							<div class="seat-rating h-100 d-flex align-items-center">
								<div class="seat">
									<i class="fa fa-user" aria-hidden="true"></i> 200+
								</div>
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i> 4.9
								</div>
							</div>
							<div class="course-fee h-100">
								<a href="https://rzp.io/l/7KRFHHu"><del>₹8000</del><span> </span>₹6000</a>
							</div>
						</div>
					</div>
			</div>

	  		<!-- Single Popular Course -->
			<!-- <div class="col-12 col-md-6 col-lg-4">
					<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
						<a href="#elitmus-test">  
							<img src="/img/imgs/com.jpg">
						
						<div class="course-content">
						<a href="#elitmus-test">	<h4>Competitive Coding</h4></a>
							
							<p> 
								We all know competitive programming is the coders sport! <br> learn competitve programming with skolar's live training and coding competitions.
								Master the theory and application of algorithms and data structures to excel in programming contests.
							</p>
						</div>
				
						<div class="row">
							<div class="col-12">
								<div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
								<a href="#elitmus-test" class="btn clever-btn btn-2">Register</a>
								</div>
							</div>
						</div>	
						
						<div class="seat-rating-fee d-flex justify-content-between">
							<div class="seat-rating h-100 d-flex align-items-center">
								<div class="seat">
									<i class="fa fa-user" aria-hidden="true"></i> 189
								</div>
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i> 4.3
								</div>
							</div>
							<div class="course-fee h-100">
								<a href="https://rzp.io/l/zT20nTw"><del>₹10000</del><span> </span>₹8000</a>
							</div>
						</div>
					</div>
			</div> -->

			<!-- Single Popular Course -->
			<!-- <div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#elitmus-test">  
						<img src="/img/imgs/121212.jpg">
					
					<div class="course-content">
					<a href="#elitmus-test">	<h4>Quantitative Aptitude and Reasoning</h4></a>
						
						<p> 
							We all know competitive programming is the coders sport! <br> learn competitve programming with skolar's live training and coding competitions.
							Master the theory and application of algorithms and data structures to excel in programming contests.
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
							<div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#elitmus-test" class="btn clever-btn btn-2">Register</a>
							</div>
						</div>
					</div>	
					
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 189
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/zT20nTw"><del>₹6000</del><span> </span>₹4000</a>
						</div>
					</div>
				</div>
			</div> -->
 	   </div>
   </div>
</section>
<!-- ##### Popular Course Area End ##### -->
