<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bg323.jpg);">
  <!-- Content -->
  <div class="single-course-intro-content text-center">
      <!-- Ratings -->
      <div class="ratings">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <h3>Data Structures & Algorithms</h3>
  
      <div class="price"> <span></span> ₹ 4000 </div> <br> <br>
      <a href="https://forms.gle/3hS94oohgxDQMBcC6" target="_blank" class="call-to-action">Request a call back</a>
  </div>
</div>



<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
        
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- DESCRIPTION -->
              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                <div class="clever-description">

                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p >This course will take you through the concepts of DS and Algo from basic to advance level and give you an in-depth understanding. <br>
                      It contains 100+ lectures on various topics and doubt clearing sessions by your mentor every week. <br>
                      This course will not only help you with your programming skills but also prepare you for your placements in major product-based companies like Adobe, Amazon, Paytm, and many more. <br>
                      It can be completed at your own pace giving you time to master topics like space and time complexity. <br>
                      This course will help you from the scratch on concepts of data structures and algorithms, but a basic understanding of syntax beforehand will be a plus. 
                       </p>
                  </div>
                  <div class="about-course mb-30">
                    <h4>Salient features</h4>
                    <p >
                      1.  100+ hours of self-paced learning
                      <br>
                      2.  8+ hours of live classes 
                      <br>
                      3.  Personal dashboard to track your progress
                      <br>
                      4.  Weekly assignments along with your regular progress reports.
                      <br>
                      5.  Dedicated student mentor
                      <br>
                      6.  Weekly doubt sessions by industry experts
                      <br>
                      7.  Webinars on competitive coding and placements
                      <br>
                      8.   Multiple Coding practice tests
                      <br>
                      9.   Internship Opportunities with Recruiting Partners

                    </p>
                    
                  </div>      

                   <!-- FAQ -->
                   <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >How can this course help me?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            This course will help you escalate you analytical skills as they are a useful tool to pick out the underlying algorithms in real-world problems and solve them efficiently.  </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >What are the pre-requisites for this course?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, you don't need any prior knowledge to take this course becuse we will be training you from basics.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            You will be able to view your progress about 
                            your assessments on our LMS dashboard.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >Do i need to take the courses in a specific order?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, there is no particular order that you need to follow.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFive"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFive"
                            >Can I take this course for off-Campus placement also?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFive"
                          class="accordion-content collapse"
                        >
                          <p>
                            YES! This course has covered everything for on-Campus and Off-Campus Placements.
                          </p>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                </div>
              </div>

              <!-- CURRICULUM -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      This uniquely designed online course covering topics of Data Structures & Algorithms by Skolar is a complete package for all the budding programmers who aspire to gain expertise in Data Structures and Algorithms or are appearing for their internship/placement interviews. 
                    </p>
                  </div>
                  
                   <!-- week1 -->
                   <div class="curriculum-level mb-30">
                    <h5>Data structures basics :</h5>
                    <p>
                      • Structure <br />
                      • Data structure Operations <br>
                      • Algorithm: complexity <br>
                      • Time- space tradeoff <br>
                      
                    </p>
                    <h5>Linked List :</h5>
                    <p>
                      • Linked lists <br>
                      • Traversing a linked list <br>
                      • Memory allocation and Garbage collection <br>
                      • Insertion and deletion <br>
                      • Types of linked lists <br>
                    </p>
                    <h5>Stack and Queue :</h5>
                    <p>
                      • Introduction <br>
                      • Array Representation of Stack <br>                      
                      • Linked List Representation of stack <br>
                      • Application of stack <br>
                      • Array Representation of Queue <br>
                      • Linked List Representation of Queue. <br>
                    </p>
                    <h5> Trees :</h5>
                    <p>
                      • Operations on Binary Trees <br>
                      • Representation of binary tree <br>
                      • Conversion of General Trees to Binary Trees <br>
                      • Sequential and Other Representations of Trees <br>
                      •  Tree Traversal <br>
                    </p>
                    <h5> Graphs :</h5>
                    <p>
                      • Matrix Representation of Graphs <br>
                      • List Structures <br>
                      • Breadth First Search <br>
                      • Depth First Search <br>
                      • Spanning Trees <br>
                    </p>
                    <h5> Application of graphs :</h5>
                    <p>
                      • Topological Sorting <br>
                      • Shortest-Path Algorithms – Weighted Shortest Paths – Dijkstra’s Algorithm <br>
                      • Minimum spanning tree- Prim’s Algorithm <br>
                      • Introduction to NP-Completeness <br>
                    </p>
                  </div>

                   <!-- week2 -->
                   <div class="curriculum-level mb-30">
                    <h5>Searching and Sorting Techniques, Sorting Techniques :</h5>
                    <p>
                      • Bubble sort <br />
                      • Merge sort<br>
                      • Selection sort<br>
                      • Heap sort <br>
                      • Insertion Sort<br>
                      • Searching Techniques: Sequential Searching, Binary Searching<br>
                      • Search Trees <br>
                    </p>
                    <h5>Elementary Algorithms :</h5>
                    <p>
                      • Notation for Expressing Algorithms <br>
                      • Characteristics of an Algorithm <br>
                      • Building Blocks of Algorithms <br>
                      • Procedure and Recursion<br>
                      • Specification Methods for Algorithms. <br>
                    </p>
                    <h5>Notations :</h5>
                    <p>
                      • Modular Arithmetic / Mod Function <br>
                      • Mathematical Expectation in Average Case Analysis <br>
                      • Efficiency of an Algorithm <br>
                      • Analysis of Algorithms <br>
                    </p>
                    <h5>Divide and Conquer :</h5>
                    <p>
                      • Binary Search  <br>
                      • Max. And Min<br>
                      • Merge sort<br>
                      • Quick sort.<br>
                    </p>
                    <h5>Greedy Method :</h5>
                    <p>
                      • Knapsack Problem <br>
                      • Job Sequencing with Deadlines<br>
                      • Optimal Merge Pattern<br>
                      • Single Source Shortlist Paths<br>
                    </p>
                    <h5> Dynamic Programming :</h5>
                    <p>
                      • Strategy  <br>
                      • Multistage Graphs<br>
                      • All Pair Shortest Paths<br>
                      • Travelling Salesman Problems<br>
                    </p>
                  </div>



                </div>
              </div>      
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/rBwKNjkydM" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >
         
          <!-- Widget  Course Features-->
          <div class="sidebar-widget" style="background-color: rgb(245, 239, 239); border-radius: 5px;">
            <h4>Course Features</h4>
            <ul class="features-list" >
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: crimson;" class="fa fa-clock-o" aria-hidden="true"></i> 100+ hours of learning
                </h6>
                <!-- <h6>8 Weeks</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: rgb(255, 187, 0);" class="fa fa-bell" aria-hidden="true"></i> Weekly Assignment
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: blue;" class="fa fa-video" aria-hidden="true"></i> Live Doubt Clearing sessions
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: darkred;" class="fa fa-chart-line" aria-hidden="true"></i> Personal Dashboard</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: green;" class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp assistance</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: indianred;" class="fa fa-handshake" aria-hidden="true"></i> MOCK Interviews</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: rgb(64, 182, 230);" class="fa fa-user-graduate" aria-hidden="true"></i> Expert Mentorship</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i class="fa fa-stamp" aria-hidden="true"></i> Certificate</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              
              
            </ul>
          </div>

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Certification</h4>
           <a href="/img/c2.PNG" target="_blank"><img src="/img/c2.PNG" alt="" /></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ##### Courses Content End ##### -->

