<div
  class="single-course-intro d-flex align-items-center justify-content-center"
  style="background-image: url(img/pexels-olia-danilevich-4974914.jpg)"
>
  <!-- Content -->
  <div class="single-course-intro-content text-center">
    <!-- Ratings -->
    <div class="ratings">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <h3>eLitmus Test Series</h3>
    <!-- <div class="meta d-flex align-items-center justify-content-center">
          <a href="#">Sarah Parker</a>
          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
          <a href="#">Art &amp; Design</a>
      </div> -->
    <div class="price"><del>₹2299</del> <span></span> ₹1399</div>
  </div>
</div>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- tab list  -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- Description tab -->
              <div
                class="tab-pane fade show active"
                id="tab1"
                role="tabpanel"
                aria-labelledby="tab--1"
              >
                <div class="clever-description">
                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p>
                      eLitmus or 'hiring potential' test, is a national level
                      employability test that evaluates fresh job seekers on
                      their skills. This test is used by most of the companies
                      including some fortune 500 companies like Dell, General
                      Electric, etc. to recruit graduates. In this test series
                      you get 10- full length test papers and 18 sectional test
                      papers based on previous year papers which will help you
                      to analyze your preparation level for eLitmus test and our
                      experts will help you in improving your problem solving
                      skills, thus reducing the time taken to finish the test. <br>
                      Along with the test papers, in this eLitmus test series
                      you also get training on Resume Building, Interview
                      puzzles and Mock Interviews to improve your result and
                      give your best.
                    </p>
                  </div>

                  <!-- salient features  -->
                  <div class="about-course mb-30">
                    <h4>Salient Features</h4>
                    <p>
                      <b>1.</b> The test series is divided into 8 weeks
                      course.<br />
                      <b>2.</b> Live question Paper discussions so that you can
                      clear your doubts with our mentors and learn how to finish
                      paper before time.<br />
                      <b>3.</b> Live doubt sessions, in case you have any doubts
                      you can clear it with our mentors. <br />
                      <b>4.</b> Personal dashboard to know your actual progress
                      after every exam. <br />
                      <b>5.</b> 10 Full length mock tests, so that you can
                      practice more and more.<br />
                      <b>6.</b> 18 Sectional mock Tests, we will take one
                      subject at a time and learn the tricks with our company
                      experts. <br />
                      <b>7.</b> The question paper and solution are based on
                      updated pattern. <br />
                      <b>8.</b> Real-time result analysis. <br />
                      <b>9.</b> Interview Puzzles, we will prepare you for the
                      interviews as well. <br />
                      <b>10.</b>Mock Interviews, let’s clear it one go.<br />
                    </p>
                  </div>

                  <!-- FAQ -->
                  <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            You will be given a pesonal LMS (learning management
                            system) dashboard where you can track your progress
                            and check your reports, news and updates.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >How can this course help me?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            This test series contains mock tests for eLitmus
                            test, you can practice for the eLitmus pH test and
                            also our mentors will take live sessions for
                            analysis of each mock test.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >Are there any doubt session for mock tests?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            Yes, there will be 2 mocks tests per week and after
                            each mock test our trainers will have a live session
                            with you where they will answer your question and
                            solve the mocks test paper again.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >What is a good score in Elitmus?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            You need to score above 500 marks or basically above
                            70 percentile in eLitmus pH test to get call from a
                            company with a good package.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Curriculum tab -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      This test series is based on the Previous year Paper of
                      eLitmus and it covers all the topics asked in eLitmus
                      paper. This will help you in improving your scores as we
                      have covered the newly introduced topics of eLitmus also.
                      The syllabus for eLitmus is given below.
                      <img src="/img/syllabus.png" alt="" />
                    </p>
                  </div>

                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Tests specific to comapnies</h4>
                    <p>
                      DELL International Services <br />
                      Ericsson (ICT)<br />

                      HCL Technologies(IT enterprise)<br />

                      Hewlett Packard(HP)<br />

                      Accenture<br />

                      HARMAN International (India) Pvt. Ltd.<br />

                      ITC Infotech India Limited<br />

                      Ikanos Communications India Private Limited<br />

                      Innovation Technology Transfer India<br />

                      L &T Infotech(Global IT Services And Solution Provider)<br />

                      Microsoft India Private Limited<br />

                      Motorola India Electronics Private Limited<br />

                      Cisco<br />

                      Cybrilla Technologies<br />
                      and many more
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/zT20nTw" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Course Features</h4>
            <ul class="features-list">
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: crimson"
                    class="fa fa-clock-o"
                    aria-hidden="true"
                  ></i>
                  8 week course
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkgray"
                    class="fa fa-file-alt"
                    aria-hidden="true"
                  ></i
                  >10 full length Mock Tests
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkgray"
                    class="fa fa-file-alt"
                    aria-hidden="true"
                  ></i
                  >18 sectional<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bg323.jpg);">
                    <!-- Content -->
                    <div class="single-course-intro-content text-center">
                        <!-- Ratings -->
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <h3>Placement Training Program</h3>
                    
                        <div class="price"> <del>₹6599</del> <span></span> ₹ 3599 </div>
                    </div>
                  </div>
                  
                  <!-- <div class="box" >
                    <div class="green">100+ hours of learning</div>
                    <div class="blue">Weekly Assignment</div>
                    <div class="gray">Live Doubt Clearing sessions</div>
                    <div class="pink">Personal Dashboard</div>
                    <div class="yellow">WhatsApp assistance</div>
                   <div class="gray">MOCK Interviews</div>
                    <div class="pink">Expert Mentorship</div>
                    <div class="yellow">Certificate</div>
                  </div> -->
                  
                  <!-- ##### Courses Content Start ##### -->
                  <div class="single-course-content section-padding-100">
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-lg-8">
                          <div class="course--content">
                            <div class="clever-tabs-content">
                              <!-- Tabs -->
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                
                                <li class="nav-item">
                                  <a
                                    class="nav-link active"
                                    id="tab--1"
                                    data-toggle="tab"
                                    href="#tab1"
                                    role="tab"
                                    aria-controls="tab1"
                                    aria-selected="false"
                                    >Description</a
                                  >
                                </li>
                                <li class="nav-item">
                                  <a
                                    class="nav-link"
                                    id="tab--2"
                                    data-toggle="tab"
                                    href="#tab2"
                                    role="tab"
                                    aria-controls="tab2"
                                    aria-selected="true"
                                    >Curriculum</a
                                  >
                                </li>
                          
                              </ul>
                  
                              <div class="tab-content" id="myTabContent">
                                <!-- DESCRIPTION -->
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                  <div class="clever-description">
                                    <!-- About Course -->
                                    <div class="about-course mb-30">
                                      <h4>About this course</h4>
                                      <p >
                                        Practice does not make perfect. Only perfect practice makes you perfect!
                  So at Skolar we have come with an exemplary course for you through which we will prepare. <br>
                  
                  you can practice and test your preparations and check your regular progress through your personal dashboard. <br>
                  The test papers are based on an updated placement test pattern and the level of difficulty is gradually increased. In this course, along with the mock tests, you also get the previous year papers of companies like Samsung, Infosys, Accenture, Cognizant, and many more. <br>
                  Because we at Skolar believe,“The more you practice, the better you will become.”
                  
                                      </p>
                                    </div>
                                    <div class="about-course mb-30">
                                      <h4>Salient features</h4>
                                      <p >
                                        1.  8 Weeks course <br>
                                        2.  100+ hours of Learning, and 70+ hours of recorded sessions so that you can enjoy learning at the comfort of your own place and time.<br>
                                        3.  Live doubt clearing sessions so that you can clear your doubts with our best mentors. <br>
                                        4.  Weekly assignments along with your regular progress reports. <br>
                                        5.  Complete guidance about writing your resume so that you can stand out.<br>
                                        6.  Training on Interview Puzzles solving. <br>
                                        7.  Learn the best tricks with us. Solving questions wont make you winner, solving them in lesser time will. <br>
                                        8.  Live sessions on interview preparation, mock interviews, resume building, interview hacks and many more things to make your preparation fun!<br>
                                      </p>
                                    </div>               
                                     <!-- FAQ -->
                                     <div class="clever-faqs">
                                      <h4>FAQs</h4>
                  
                                      <div
                                        class="accordions"
                                        id="accordion"
                                        role="tablist"
                                        aria-multiselectable="true"
                                      >
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              class=""
                                              aria-expanded="true"
                                              aria-controls="collapseOne"
                                              data-toggle="collapse"
                                              data-parent="#accordion"
                                              href="#collapseOne"
                                              >Can I just enroll in a single course? I'm not
                                              interested in the entire Specialization?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseOne"
                                            class="accordion-content collapse show"
                                          >
                                            <p>
                                              Yes, you can register in any course of your choice.
                                            </p>
                                          </div>
                                        </div>
                  
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              class="collapsed"
                                              aria-expanded="true"
                                              aria-controls="collapseTwo"
                                              data-parent="#accordion"
                                              data-toggle="collapse"
                                              href="#collapseTwo"
                                              >What are the pre-requisites for this course?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseTwo"
                                            class="accordion-content collapse"
                                          >
                                            <p>
                                              No, you don't need any prior knowledge to take this course becuse we will be training you from basics.
                                            </p>
                                          </div>
                                        </div>
                  
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              aria-expanded="true"
                                              aria-controls="collapseThree"
                                              class="collapsed"
                                              data-parent="#accordion"
                                              data-toggle="collapse"
                                              href="#collapseThree"
                                              >How can I track my progress?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseThree"
                                            class="accordion-content collapse"
                                          >
                                            <p>
                                              You will be able to view your progress about 
                                              your assessments on our LMS dashboard.
                                            </p>
                                          </div>
                                        </div>
                  
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              aria-expanded="true"
                                              aria-controls="collapseFour"
                                              class="collapsed"
                                              data-parent="#accordion"
                                              data-toggle="collapse"
                                              href="#collapseFour"
                                              >Do i need to take the courses in a specific order?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseFour"
                                            class="accordion-content collapse"
                                          >
                                            <p>
                                              No, there is no particular order that you need to follow.
                                            </p>
                                          </div>
                                        </div>
                  
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              aria-expanded="true"
                                              aria-controls="collapseFive"
                                              class="collapsed"
                                              data-parent="#accordion"
                                              data-toggle="collapse"
                                              href="#collapseFive"
                                              >Can I take this course for off-Campus placement also?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseFive"
                                            class="accordion-content collapse"
                                          >
                                            <p>
                                              YES! This course has covered everything for on-Campus and Off-Campus Placements.
                                            </p>
                                          </div>
                                        </div>
                                        
                                        <!-- Single Accordian Area -->
                                        <div class="panel single-accordion">
                                          <h6>
                                            <a
                                              role="button"
                                              aria-expanded="true"
                                              aria-controls="collapseSix"
                                              class="collapsed"
                                              data-parent="#accordion"
                                              data-toggle="collapse"
                                              href="#collapseSix"
                                              >How can this course help me?
                                              <span class="accor-open"
                                                ><i class="fa fa-plus" aria-hidden="true"></i
                                              ></span>
                                              <span class="accor-close"
                                                ><i class="fa fa-minus" aria-hidden="true"></i
                                              ></span>
                                            </a>
                                          </h6>
                                          <div
                                            id="collapseSix"
                                            class="accordion-content collapse"
                                          >
                                            <p>
                                              This course covers everything from your Test preparation to the mock Interviews. Be it your Resume building or written tests.
                                            </p>
                                          </div>
                                        </div>
                  
                                      </div>
                                    </div>
                  
                                  </div>
                                </div>
                  
                                <!-- CURRICULUM -->
                                <div
                                  class="tab-pane fade"
                                  id="tab2"
                                  role="tabpanel"
                                  aria-labelledby="tab--2"
                                >
                                  <div class="clever-curriculum">
                                    <!-- About Curriculum -->
                                    <div class="about-curriculum mb-30">
                                      <h4>Syllabus</h4>
                                      <p>
                                        The syllabus of placement training by Skolar is formed in such a way that it covers all
                                         the topics of Quantitative Aptitude, Logical Reasoning, Verbal and Non-Verbal Reasoning 
                                         in addition to technical round leaving nothing unturned. The syllabus by Skolar is formed 
                                         on the updated placement test syllabus, which will help you cover all the topics with lots of
                                          tricks and fun.
                                      </p>
                                    </div>
                                    
                                     <!-- week1 -->
                                     <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 1</span> <span>1/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Number Systems <br />
                                        • HCF & LCM <br>
                                        • Decimal system <br>
                                        • Simplification <br>
                                        
                                      </p>
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Series Completion 
                                      </p>
                                      <h5>Verbal Reasoning :</h5>
                                      <p>
                                        • Synonyms <br>
                                        • Antonyms <br>
                                        • Paragraph writing 
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Introduction to data structures <br>
                                        • Arrays <br>
                                        • Stacks <br>
                                        • Queues <br>
                                      </p>
                  
                                    </div>
                  
                                     <!-- week2 -->
                                     <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 2</span> <span>2/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Average <br />
                                        • Ages<br>
                                        • Areas<br>
                                        • Volumes <br>
                                      </p>
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Analogy <br>
                                        • Classification
                                      </p>
                                      <h5>Verbal Reasoning :</h5>
                                      <p>
                                        • Rearranging sentences <br>
                                        • Idioms and phrases 
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Linked list  <br>
                                        • Binary Trees <br>
                                      </p>
                                    </div>
                  
                                    <!-- week3 -->
                                    <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 3</span> <span>3/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Percentage <br />
                                        • Profit and loss <br>
                                        • Calender <br>
                                        • Clock <br>
                                      </p>
                  
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Coding <br>
                                        • Decoding 
                                      </p>
                                      <h5>Verbal Reasoning :</h5>
                                      <p>
                                        • Substitution <br>
                                        • Spotting errors
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • AVL Trees  <br>
                                        • Binary search trees <br>
                                      </p>
                                    </div>
                  
                                     <!-- week4 -->
                                     <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 4</span> <span>4/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Pipes and cisterns <br />
                                        • Time and work<br>
                                        • Time and Distance <br>
                                        • Alligations and mixtures <br>
                                      </p>
                  
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Blood relations <br>
                                      </p>
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Splay Trees  <br>
                                        • Introduction to Algorithms <br>
                                        • Algorithm analysis <br>
                                        • Asymptotic Notations
                                      </p>
                                    </div>
                  
                                    <!-- week5 -->
                                    <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 5</span> <span>5/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Boats and streams <br />
                                        • Trains<br>
                                        • Simple interest <br>
                                        • Compound Interest <br>
                                      </p>
                  
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Puzzle test <br>
                                        • Arrangements
                                      </p>
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Sorting algorithms and Analysis  <br>
                                        • Searching algorithms and Analysis 
                                      </p>
                                    </div>
                  
                                     <!-- week6 -->
                                     <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 6</span> <span>6/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Permuattaion and combination <br />
                                        • Probability
                                      </p>
                  
                                      <h5>Logical Reasoning :</h5>
                                      <p>
                                        • Number reasoning <br>
                                        • Arithmetic resoning 
                                      </p>
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Advance linked list <br>
                                        • Advance Stacks and queues 
                                      </p>
                                    </div>
                  
                                    <!-- week7 -->
                                    <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 7</span> <span>7/8</span>
                                      </h4>
                                      <h5>Quantitative Aptitude :</h5>
                                      <p>
                                        • Square roots <br>
                                        • surds and indicies 
                                      </p>
                                      </p>
                                      <h5>DSA:</h5>
                                      <p>
                                        • Recursion <br>
                                        • Heaps <br>
                                        • Hashtables
                                      </p>
                                    </div>
                  
                                     <!-- week8 -->
                                     <div class="curriculum-level mb-30">
                                      <h4 class="d-flex justify-content-between">
                                        <span>Week 8</span> <span>8/8</span>
                                      </h4>
                                      <!-- <h5>Quantitative Aptitude :</h5> -->
                                      <p>
                                        • Resume Building <br />
                                        • Email Writing <br>
                                        • Interview preparation <br>
                                        • Coding Challenges
                                      </p>
                                      <!-- <h5>Logical Reasoning :</h5> -->
                                      <!-- <p>
                                        • Coding Decoding <br />
                                        • Blood Relation
                                      </p>
                                      <h5>Verbal Reasoning :</h5>
                                      <p>
                                        • Reading Comprehension
                                      </p> -->
                                    </div>
                  
                                  </div>
                                </div> 
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="col-12 col-lg-4">
                          <div class="course-sidebar">
                            <!-- Buy Course -->
                            <a href="https://rzp.io/l/Qwmd5Lx" class="btn clever-btn mb-30 w-100"
                              >Buy course</a
                            >
                  
                            <!-- Widget  Course Features-->
                            <div class="sidebar-widget" style="background-color: rgb(228, 220, 220); border-radius: 5px;">
                              <h4>Course Features</h4>
                              <ul class="features-list" >
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: crimson;" class="fa fa-clock-o" aria-hidden="true"></i> 100+ hours of learning
                                  </h6>
                                  <!-- <h6>8 Weeks</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: rgb(255, 187, 0);" class="fa fa-bell" aria-hidden="true"></i> Weekly Assignment
                                  </h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: blue;" class="fa fa-video" aria-hidden="true"></i> Live Doubt Clearing sessions
                                  </h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: darkred;" class="fa fa-chart-line" aria-hidden="true"></i> Personal Dashboard</h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: green;" class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp assistance</h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: indianred;" class="fa fa-handshake" aria-hidden="true"></i> MOCK Interviews</h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i style="color: rgb(64, 182, 230);" class="fa fa-user-graduate" aria-hidden="true"></i> Expert Mentorship</h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                <li>
                                  <h6 style="color: rgb(39, 39, 39);">
                                    <i class="fa fa-stamp" aria-hidden="true"></i> Certificate</h6>
                                  <!-- <h6>30-40</h6> -->
                                </li>
                                
                                
                              </ul>
                            </div>
                  
                            <!-- Widget -->
                            <div class="sidebar-widget">
                              <h4>Certification</h4>
                             <a href="/img/sample 1.png" target="_blank"><img src="/img/sample 1.png" alt="" /></a>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                  <!-- ##### Courses Content End ##### -->
                  
                  <!-- <style>
                     .box div {
                         width: auto;
                          margin:0px 8px 0px 8px ;
                          display: inline-block;
                          padding: 25px;
                          text-align: center;
                          color: #000000;
                          
                        }
                  </style> --> Tests
                </h6>
              </li>

              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: blue"
                    class="fa fa-video"
                    aria-hidden="true"
                  ></i>
                  Live question paper analysis
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkred"
                    class="fa fa-chart-line"
                    aria-hidden="true"
                  ></i>
                  Personal Dashboard
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>

              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: green"
                    class="fa fa-whatsapp"
                    aria-hidden="true"
                  ></i>
                  WhatsApp assistance
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(24, 145, 24)"
                    class="fa fa-thumbs-up"
                    aria-hidden="true"
                  ></i>
                  Best mentors
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkred"
                    class="fa fa-handshake"
                    aria-hidden="true"
                  ></i>
                  Mock interviews
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(71, 149, 212)"
                    class="fa fa-file-text"
                    aria-hidden="true"
                  ></i>
                  Resume building
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ##### Courses Content End #####  -->
