<div
  class="single-course-intro d-flex align-items-center justify-content-center"
  style="
    background-image: url(img/imgs/top-view-photo-of-girl-watching-through-imac-4144294.jpg);
  "
>
  <!-- Content -->
  <div class="single-course-intro-content text-center">
    <!-- Ratings -->
    <div class="ratings">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <h3>eLitmus</h3>
    <!-- <div class="meta d-flex align-items-center justify-content-center">
          <a href="#">Sarah Parker</a>
          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
          <a href="#">Art &amp; Design</a>
      </div> -->
    <div class="price"><del>₹ 6999</del> <span></span> ₹ 3999</div>
  </div>
</div>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- Tab Text description -->
              <div
                class="tab-pane fade show active"
                id="tab1"
                role="tabpanel"
                aria-labelledby="tab--1"
              >
                <div class="clever-description">
                  <!-- About this Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p>
                      eLitmus, one of the most popular assessment tests which
                      helps companies to recruit personnel. Elitmus is one of
                      the toughest assessment tests and focuses only on
                      Aptitude, Logical Reasoning and Verbal Reasoning. <br />
                      We at Skolar have designed a remarkable course divided
                      into 10 weeks, only for you through which will help you in
                      developing your problem solving skills. <br />

                      We will educate you with exceptional hints to solve the
                      questions well and keep time by using the use of the
                      tricks. <br />

                      This course is all that you need to grab a job through
                      eLitmus exam with an incredible score in one go as we will
                      prepare you with our specialization in Resume building,
                      Solving Interview puzzles and Mock Interviews. <br />

                      And this is not all, We also give whatsapp assistance to
                      make it easier for you to contact our mentors. <br />

                      Along with that Dreams don’t work unless you do ! So,
                      Let’s make a plan and chase your dream with Skolar.
                    </p>
                  </div>
                  <div class="about-course mb-30">
                    <h4>Salient features</h4>
                    <p>
                      <b>1. </b> 10 Weeks course <br />
                      <b>2. </b> 150+ hours of Learning, and 90+ hours of recorded sessions so that you can enjoy learning at the comfort of your own place and time.
                      <br />
                      <b>3. </b> Live doubt clearing sessions so that you can
                      clear your doubts with our best mentors. <br />
                      <b>4. </b> Weekly assignments along with your regular
                      progress reports. <br />
                      <b>5. </b> Training on Interview Puzzles solving. <br />
                      <b>6. </b> Mock tests based on previous year question papers and their live discussions. <br />
                      <b>7. </b> Learn the best tricks with us. <br />
                      Solving questions wont make you winner, solving them in
                      lesser time will. <br />
                      <b>8. </b> Live sessions on inter view preparation. <br />
                      <b>9. </b> WhatsApp assistance so that you can reach us whenever you want.
                      
                    </p>
                  </div>

                  <!-- FAQ -->
                  <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- SingCan I get any demo class for this course ?le Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >Can I get any demo class for this course ?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>Yes, you will be given demo classes.</p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >What are the pre-requisites for this course?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            You don't need any prior knowledge to take this
                            course becuse we will be training you from basics.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            You will be able to view your progress about your
                            assessments on our LMS dashboard.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >Can I download the course contents and lectures?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            Yes, you can download media files and documents from
                            your course LMS.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFive"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFive"
                            >What is a good score in Elitmus?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFive"
                          class="accordion-content collapse"
                        >
                          <p>
                            You need to score above 500 marks or basically above
                            70 percentile in eLitmus pH test to get call from a
                            company with a good package.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseSix"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseSix"
                            >What if I’m not available or missed the live class?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseSix"
                          class="accordion-content collapse"
                        >
                          <p>
                            The course will be hybrid which means there will be
                            both online and offline classes, and if you miss
                            online classes, we will record that class and upload
                            in your LMS portal.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseSeven"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseSeven"
                            >Which companies recruit from eLitmus score
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseSeven"
                          class="accordion-content collapse"
                        >
                          <p>
                            Here's an Updated
                            <a
                              target="_blank"
                              href="https://alpingi.com/companies-hiring-fresher-through-elitmus-ph-test/"
                              style="color: blue"
                              >list
                            </a>
                            of companies that hire through eLitmus.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseEight"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseEight"
                            >What are the eligibilty criteria for applying for
                            eLitmus?

                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseEight"
                          class="accordion-content collapse"
                        >
                          <p>
                            There is no eligibility criteria to take the pH
                            test. However companies which use the eLitmus pH
                            Test scores may set their own eligibility.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--SYLLABUS Tab Text -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum syllabus -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      eLitmus test has three sections Quantitative Aptitude, Logical Reasoning, and Verbal. All the topics of these three sections are covered, including Cryptarithmetic in Reasoning to Probability from Quantitative Aptitude. <br>
                      The weekly plan of eLitmus is given here :

                    </p>
                  </div>

                  <!-- week1 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 1</span> <span>1/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Number Systems <br />
                      • Series Progression
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>• Arrangements and Ranking</p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Reading Comprehension</p>
                  </div>

                  <!-- week2 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 2</span> <span>2/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Average <br />
                      • Alligation <br />
                      • Percentage
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Team foundation <br />
                      • Puzzle test
                    </p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Reading Comprehension</p>
                  </div>

                  <!-- week3 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 3</span> <span>3/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Profit and Loss <br />
                      • Interest <br />
                      • Geometry
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>• Quantitative reasoning</p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Sentence Completion</p>
                  </div>

                  <!-- week4 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 4</span> <span>4/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Time, Speed and Distance <br />
                      • Time and Work <br />
                      • Ratio and Proportion
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>• Cryptarithmetic</p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Fill in the blanks</p>
                  </div>

                  <!-- week5 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 5</span> <span>5/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Functions <br />
                      • Quadratic Equations <br />
                      • Logarithms
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>• Data Interpretation</p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Parajumbled</p>
                  </div>

                  <!-- week 6 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 6</span> <span>6/6</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Probability <br />
                      • Permutations and Combination
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>• Data Sufficiency</p>
                    <h5>Verbal Reasoning :</h5>
                    <p>• Parajumbled</p>
                  </div>

                  <!-- week 7 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 7</span> <span></span>
                    </h4>
                    <h5>Practice :</h5>
                    <p>
                      • Sectional Tests(quant, LR , verbal reasoning ) <br />
                      • Mock Tests (2)
                    </p>
                  </div>

                  <!-- week 8 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 8</span> <span></span>
                    </h4>
                    <h5>Practice :</h5>
                    <p>
                      • Sectional Tests(quant , LR , verbal reasoning ) <br />
                      • Mock Tests (2)
                    </p>
                  </div>

                  <!-- week 9 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Extras</span> <span></span>
                    </h4>
                    <h5>Practice :</h5>
                    <p>
                      • Sectional Tests(quant , LR , verbal reasoning ) <br />
                      • Mock Tests (2)
                    </p>
                  </div>

                  <!-- week 9 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 10</span> <span></span>
                    </h4>
                    <h5>Practice :</h5>
                    <p>
                      • Interview preparation <br />
                      • Final webinar
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/dyk3MR7" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >

          <!-- Course Features Widget -->
          <div
            class="sidebar-widget"
            style="background-color: rgb(248, 242, 242); border-radius: 5px"
          >
            <h4>Course Features</h4>
            <ul class="features-list">
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: crimson"
                    class="fa fa-clock-o"
                    aria-hidden="true"
                  ></i>
                  150+ hours of learning
                </h6>
                <!-- <h6>8 Weeks</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(255, 187, 0)"
                    class="fa fa-bell"
                    aria-hidden="true"
                  ></i>
                  Weekly Assignment
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(111, 111, 201)"
                    class="fa fa-video"
                    aria-hidden="true"
                  ></i>
                  Live doubt sessions
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkred"
                    class="fa fa-chart-line"
                    aria-hidden="true"
                  ></i>
                  Personal Dashboard

                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: indianred"
                    class="fa fa-handshake"
                    aria-hidden="true"
                  ></i>
                  Mock Tests
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(64, 182, 230)"
                    class="fa fa-user-graduate"
                    aria-hidden="true"
                  ></i>
                  Expert Mentors
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i class="fa fa-stamp" aria-hidden="true"></i> Certificate
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: lightseagreen"
                    class="fa fa-edit"
                    aria-hidden="true"
                  ></i>
                  Updated Test Pattern
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(26, 190, 26)"
                    class="fa fa-whatsapp"
                    aria-hidden="true"
                  ></i>
                  WhatsApp assistance
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              
            </ul>
          </div>

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Certification</h4>
            <a href="/img/sample 1.png" target="_blank"
              ><img src="/img/sample 1.png" alt=""
            /></a>
          </div>

          <!-- Widget -->
          <!-- <div class="sidebar-widget">
            <h4>You may like</h4>

            
            <div class="single--courses d-flex align-items-center">
              <div class="thumb">
                <img src="img/bg-img/yml.jpg" alt="" />
              </div>
              <div class="content">
                <h5>Vocabulary</h5>
                <h6>$20</h6>
              </div>
            </div>

            
            <div class="single--courses d-flex align-items-center">
              <div class="thumb">
                <img src="img/bg-img/yml2.jpg" alt="" />
              </div>
              <div class="content">
                <h5>Expository writing</h5>
                <h6>$45</h6>
              </div>
            </div>

            
            <div class="single--courses d-flex align-items-center">
              <div class="thumb">
                <img src="img/bg-img/yml3.jpg" alt="" />
              </div>
              <div class="content">
                <h5>Vocabulary</h5>
                <h6>$20</h6>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Courses Content End ##### -->
