<div
  class="single-course-intro d-flex align-items-center justify-content-center"
  style="background-image: url(img/imgs/bgqw.jpg)"
>
  <!-- Content -->
  <div class="single-course-intro-content text-center">
    <!-- Ratings -->
    <div class="ratings">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <h3>eLitmus Test Series</h3>
    <!-- <div class="meta d-flex align-items-center justify-content-center">
          <a href="#">Sarah Parker</a>
          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
          <a href="#">Art &amp; Design</a>
      </div> -->
    <div class="price"><del>₹2299</del> <span></span> ₹1399</div>
  </div>
</div>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- tab list  -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- Description tab -->
              <div
                class="tab-pane fade show active"
                id="tab1"
                role="tabpanel"
                aria-labelledby="tab--1"
              >
                <div class="clever-description">
                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p>
                      eLitmus Evaluation Private Limited is an Indian
                      recruitment organization founded by ex-Infosys employees.
                      It helps the companies in hiring freshers to their
                      entry-level jobs through its effective and unique test
                      called eLitmus pH test. This test is used by most of the
                      companies including some fortune 500 companies like Dell,
                      General Electric, etc. to recruit graduates. <br />In this
                      series you get 10- full length test papers and 18
                      sectional test papers based on previous year papers.
                      <br />
                      Join this course today to improve your results and give
                      your best.
                    </p>
                  </div>

                  <!-- salient features  -->
                  <div class="about-course mb-30">
                    <h4>Salient Features</h4>
                    <p>
                      <b>1.</b> 8 weeks course. <br />
                      <b>2.</b> Live doubt sessions. <br />
                      <b>3.</b> Personal dashboard to know your progress. <br />
                      <b>4.</b> Live sessions for question paper discussion<br />
                      <b>5.</b> Expert Mentors<br />
                      <b>6.</b> 10+ mock tests<br />
                      <b>7.</b> 18+ sectional tests<br />
                      <b>8.</b> Update eLitmus test pattern <br />
                      <b>9.</b> 6 sectional test for each subject<br />
                      <b>10.</b>Realtime result analysis<br />
                      <b>11.</b>Interview puzzles<br />
                    </p>
                  </div>

                  <!-- FAQ -->
                  <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            You will be given a pesonal LMS (learning management
                            system) dashboard where you can track your progress
                            and check your reports, news and updates.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >How can this course help me?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            This test series contains mock tests for eLitmus
                            test, you can practice for the eLitmus pH test and
                            also our mentors will take live sessions for
                            analysis of each mock test.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >Are there any doubt session for mock tests?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            Yes, there will be 2 mocks tests per week and after
                            each mock test our trainers will have a live session
                            with you where they will answer your question and
                            solve the mocks test paper again.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >What is a good score in Elitmus?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            You need to score above 500 marks or basically above
                            70 percentile in eLitmus pH test to get call from a
                            company with a good package.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Curriculum tab -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      This test series is based on the Previous year Paper of
                      eLitmus and it covers all the topics asked in eLitmus
                      paper. This will help you in improving your scores as we
                      have covered the newly introduced topics of eLitmus also.
                      The syllabus for eLitmus is given below.
                    </p>
                  </div>

                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Tests specific to comapnies</h4>
                    <p>
                      DELL International Services <br />
                      Ericsson (ICT)<br />

                      HCL Technologies(IT enterprise)<br />

                      Hewlett Packard(HP)<br />

                      Accenture<br />

                      HARMAN International (India) Pvt. Ltd.<br />

                      ITC Infotech India Limited<br />

                      Ikanos Communications India Private Limited<br />

                      Innovation Technology Transfer India<br />

                      L &T Infotech(Global IT Services And Solution Provider)<br />

                      Microsoft India Private Limited<br />

                      Motorola India Electronics Private Limited<br />

                      Cisco<br />

                      Cybrilla Technologies<br />
                      and many more
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/zT20nTw" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Course Features</h4>
            <ul class="features-list">
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: crimson"
                    class="fa fa-clock-o"
                    aria-hidden="true"
                  ></i>
                  8 week course
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkgray"
                    class="fa fa-file-alt"
                    aria-hidden="true"
                  ></i
                  >10+ Mock Tests
                </h6>
              </li>

              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: blue"
                    class="fa fa-video"
                    aria-hidden="true"
                  ></i>
                  Live question paper analysis
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkred"
                    class="fa fa-chart-line"
                    aria-hidden="true"
                  ></i>
                  Personal Dashboard
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>

              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: green"
                    class="fa fa-whatsapp"
                    aria-hidden="true"
                  ></i>
                  WhatsApp assistance
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(24, 145, 24)"
                    class="fa fa-thumbs-up"
                    aria-hidden="true"
                  ></i>
                  Best mentors
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: darkred"
                    class="fa fa-handshake"
                    aria-hidden="true"
                  ></i>
                  Mock interviews
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39)">
                  <i
                    style="color: rgb(71, 149, 212)"
                    class="fa fa-file-text"
                    aria-hidden="true"
                  ></i>
                  Resume building
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ##### Courses Content End #####  -->
