<div class="container section-heading">
  <div class="clever-faqs">
    <h4 style="padding-top: 20px; padding-bottom: 15px">FAQs</h4>

    <div
      class="accordions"
      id="accordion"
      role="tablist"
      aria-multiselectable="true"
    >
      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            class="collapsed"
            aria-expanded="true"
            aria-controls="collapseOne"
            data-toggle="collapse"
            data-parent="#accordion"
            href="#collapseOne"
          >
            How can I register for any program?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseOne" class="accordion-content collapse">
          <p>
            You can browse through various courses from our website and after
            making the payment for the course you will get the daily updates
            about the courses and access to our LMS (learning management
            system).
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            class="collapsed"
            aria-expanded="true"
            aria-controls="collapseTwo"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseTwo"
          >
            Can we get demo classes before registering?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseTwo" class="accordion-content collapse">
          <p>
            Yes, the demo video lectures will be available for recorded courses.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseThree"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseThree"
            >Are all the courses recorded?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseThree" class="accordion-content collapse">
          <p>
            No, all the courses are not recorded, however, courses are hybrid
            which means you will have to attend both recorded lectures as well
            as live lectures. And other courses will be live.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseFour"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseFour"
            >Do I need to create an account on your website?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseFour" class="accordion-content collapse">
          <p>
            No, you don't need an account on our website, right after the
            onboarding we will give you access to our learning management system
            where you can start learning.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseFive"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseFive"
            >I have not received any onboarding form nor have I gotten access to
            the LMS.
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseFive" class="accordion-content collapse">
          <p>
            After you make the payment, we send the onboarding form to students
            within 24 hours which are followed by giving access to LMS. The
            whole process might take up to 24-48 hours.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseSix"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseSix"
            >How can I track my progress?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseSix" class="accordion-content collapse">
          <p>
            You will be able to view your progress about your lectures and
            assessments on our LMS dashboard.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseSeven"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseSeven"
            >How do I communicate with the mentor?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseSeven" class="accordion-content collapse">
          <p>
            We have a communication forum for each learning program on the LMS
            where you can post the question/doubts and the mentor will be
            available from 11:00 hrs to 20:00 hrs. You will also have weekly
            live doubt sessions where you can communicate with your mentor.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseEight"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseEight"
            >What if I’m not available or missed the live class?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseEight" class="accordion-content collapse">
          <p>
            All the live classes will be recorded and uploaded on your LMS, so
            you won't miss any lectures even if you were not available for the
            live class?
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseNine"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseNine"
            >Can I download the course contents and lectures?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseNine" class="accordion-content collapse">
          <p>
            You cannot download the course contents or video lectures, however,
            all the material will be available for you on LMS and you will be
            given 6 months’ access.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseten"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseTen"
            >What is the refund policy?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseTen" class="accordion-content collapse">
          <p>
            You can claim the refund within one week of payment for selected
            courses, we will refund the amount within 24 hours of the refund
            request.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseEleven"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseEleven"
            >Can I enroll for more than one course?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseEleven" class="accordion-content collapse">
          <p>
            Yes, you can enroll for more than one course and you also will have
            the freedom to choose when to start the course (for live courses) by
            emailing us at support@skolar.in
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseTwelve"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseTwelve"
            >Where can I report issues about my course?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseTwelve" class="accordion-content collapse">
          <p>
            If the issue is related to learning then you can contact your mentor
            on the LMS form, and other issues can be reported to the skolar
            support team.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseThirteen"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseThirteen"
            >What are the payment methods available at Skolar?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseThirteen" class="accordion-content collapse">
          <p>
            You can make the payment through a third party called Razorpay one
            of the most secure payment portals in India. You can pay through
            UPI, credit card, debit card, online banking, etc within Razorpay.
          </p>
        </div>
      </div>

      <!-- Single Accordian Area -->
      <div class="panel single-accordion">
        <h6>
          <a
            role="button"
            aria-expanded="true"
            aria-controls="collapseFourteen"
            class="collapsed"
            data-parent="#accordion"
            data-toggle="collapse"
            href="#collapseFourteen"
            >How do I communicate with the mentor?
            <span class="accor-open"
              ><i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <span class="accor-close"
              ><i class="fa fa-minus" aria-hidden="true"></i
            ></span>
          </a>
        </h6>
        <div id="collapseFourteen" class="accordion-content collapse">
          <p>
            Mentors will take live doubt classes along with that whatsapp assistance
            will also be given for every course.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
