
<section class="hero-area bg-img bg-overlay-2by5"
	style="background-image: url(img/mouse-and-books-on-black-surface-2903060.jpg); height: 550px;">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<!-- Hero Content -->
				<div class="hero-content text-center">
					<h2 style="font-family: 'Noto_Sans_TC'; letter-spacing: 10px;">BE A STEP AHEAD</h2>
					<p id="hero-para">Learning never exhausts the mind. <br> <i>- Leonardo da Vinci</i></p>
					<a href="#courses" class="btn clever-btn">Our Courses</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Hero Area End ##### -->


<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h3>Popular Courses</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4>Placement training</h4></a>
		
						<p>This program is build for the placement tests and will help you to build strong problem solving skills. Learn quantitative aptitude, 
							logical and verbal reasoning to score exceptional in your pre placement tests. Learn different tricks to solve maximum problems in very less time.
						</p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 320
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/Qwmd5Lx" >₹4000</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
					<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
					<a href="#single-course-cocubes">
						<img src="/img/imgs/blur-book-candle-close-up-207700.jpg" alt="">
					</a>
						<!-- Course Content -->
						<div class="course-content">
							<h4>eLitmus</h4>
							<div class="meta d-flex align-items-center">
								<a href="#"></a>
								<!-- <span><i class="fa fa-circle" aria-hidden="true"></i></span>
								<a href="#">Art &amp; Design</a> -->
							</div>
							<p>This program has been build for those who are looking to apply for Cocubes, Amcat, Elitmus and other tests,
								program includes different leves of trainign for Quantitaive aptitude, Verbal and logical reasoning.
								learn the fundaments of computer science from our industry experts, and level up your coding skills by solving our coding challenges.
								</p>
						</div>
					
						<div class="row">
							<div class="col-12">
							  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
								<a href="#single-course-cocubes" class="btn clever-btn btn-2">Register</a>
							  </div>
							</div>
						</div>					
						<!-- Seat Rating Fee -->
						<div class="seat-rating-fee d-flex justify-content-between">
							<div class="seat-rating h-100 d-flex align-items-center">
								<div class="seat">
									<i class="fa fa-user" aria-hidden="true"></i> 970
								</div>
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i> 4.1
								</div>
							</div>
							<div class="course-fee h-100">
								<a href="https://rzp.io/l/RrkJfYr">₹6500</a>
							</div>
						</div>
					</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
					<!-- Course Content -->
					<div class="course-content">
						<h4>Test series</h4>
						
						<p> Practice for your placement test by solving the test series. This test series has been build by 
							considering previous years papers from different companies. You can choose the test according to 
							the domain or according to the company.Analyse the reports at the end and focus on the weak domains</p>
					</div>
			
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 840
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/S8CjlN9">₹1800</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Popular Courses End ##### -->


 <!-- ##### Register Now Start ##### -->
 <section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" style="background-image: url(img/core-img/texture.png);">
	<!-- Register Contact Form -->
	<div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="forms">
						<h4>We'll call you back</h4>
						<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSftWnR1_Xnf02cj4UzPPpO_pLchapHKAmdx4Z4PcwOEMejJdg/formResponse"
						 method="post" name="google-sheet">
							<div class="row">
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.386275289" type="text" class="form-control" id="text" placeholder="Name" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.463907609" type="email" class="form-control" id="email" placeholder="Email" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.924111246" type="text" class="form-control" id="phone" placeholder="Phone" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.790142071" type="text" class="form-control" id="site" placeholder="Course" required>
									</div>
								</div>
								<div class="col-12">
									<button type="submit" class="btn clever-btn w-100" >Send Message</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Register Now Countdown -->
	<div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
		<h3>Register Now</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae. Donec bibendum tortor sed mi faucibus vehicula. Sed erat lorem</p>
		<!-- Register Countdown -->
		
	</div>
</section>
<!-- ##### Register Now End ##### -->


<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h3>From Our Blog</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Blog Area -->
			<div class="col-12 col-md-6">
				<div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
					<!-- <img src="img/blog-img/1.jpg" alt=""> -->
					<!-- Blog Content -->
					<div class="blog-content">
						<a href="#blog-details-1" class="blog-headline">
							<h4>Do internships count as work experience</h4>
						</a>
						<div class="meta d-flex align-items-center">
							<a href="#">Taha Maknoo</a>
							<!-- <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a> -->
						</div>
						<p>Starting with your career, you might find it often difficult to convince your potential
							employers to give you a chance in the work environment just to prove your worth.

						</p>
					</div>
				</div>
			</div>

			<!-- Single Blog Area -->
			<div class="col-12 col-md-6">
				<div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
					<!-- <img src="img/blog-img/2.jpg" alt=""> -->
					<!-- Blog Content -->
					<div class="blog-content">
						<a href="#" class="blog-headline">
							<h4>Data Science Interview Questions</h4>
						</a>
						<div class="meta d-flex align-items-center">
							<a href="#">Taha Maknoo</a>
							<!-- <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a> -->
						</div>
						<p>Data Science is not an ‘easy to get into’ field, that’s for sure.
							It is such a field that requires a lot from you than just your degree and basic knowledge.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
			  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
				<a href="#blog" class="btn clever-btn btn-2">More Blogs</a>
			  </div>
			</div>
		  </div>
	</div>
</section>


<!-- ##### Blog Area End ##### -->


<script>
	const scriptURL = 'https://script.google.com/macros/s/AKfycbwS-ru-n-j8iFWDTVrn_qFORAM97wxbbp0UDbF1E7cjgKFHXrzf/exec'
	const form = document.forms['google-sheet']
	
	form.addEventListener('submit', e => {
	  e.preventDefault()
	  fetch(scriptURL, { method: 'POST', body: new FormData(form)})
	  .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
	  .catch(error => console.error('Error!', error.message))
	})
	</script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

 

  
