
<!-- ##### Hero Area start##### -->
<section class="hero-area bg-img bg-overlay-2by5"
	style="background-image: url(/img/hero/1.jpg);">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<!-- Hero Content -->
				<div class="hero-content text-center">
					<h2 style="font-family: 'Noto_Sans_TC'; letter-spacing: 10px;">BE A STEP AHEAD</h2>
					<p id="hero-para">““People expect to be bored by eLearning—let’s show them it doesn’t have to be like that!”  <br> <i>- Cammy Bean</i></p>
					<a href="#courses" id="coursesBtn"  class="btn clever-btn">Our Courses</a>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0" style="padding-top: 40px;">
	<div class="row" style="margin-left:0px; margin-right:0px"> 
		<div class="col-12">
			<div class="section-heading">
				<h3>Why choose us?</h3> <br>
				<p style="font-size: large;">Along with a wide array of salient features on Skolar, you can definitely find some ‘out of the box’ highlights here.</p>
			</div>
		</div>
		</div>
        <div class="container">
				
            <div class="row" style="margin-left:0px; margin-right:0px">
                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <!-- <div class="icon">
                            <img src="img/core-img/docs.png" alt="">
                        </div> -->
                        <h2><span class="counter"><img src="/img/icons/teacher.png" style="height: 100px; width: 100px;" alt=""></span></h2>
                        <h5>Expert Mentors</h5>
                    </div>
									</div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- <div class="icon">
                            <img src="img/core-img/star.png" alt="">
                        </div> -->
                        <h2><span class="counter"><img src="/img/icons/dashboard.png" style="height: 100px; width: 100px;" alt=""></span></h2>
                        <h5>Personal Dashboard</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <!-- <div class="icon">
                            <img src="img/core-img/events.png" alt="">
                        </div> -->
                        <h2><span class="counter"><img src="/img/icons/exam.png" style="height: 100px; width: 100px;" alt=""></span></h2>
                        <h5>Regular Evaluation</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <!-- <div class="icon">
                            <img src="img/core-img/earth.png" alt="">
                        </div> -->
                        <h2><span class="counter"><img src="/img/icons/question.png" style="height: 100px; width: 100px;" alt=""></span></h2>
                        <h5>Live Doubt Sessions</h5>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png); ">
	<div class="container">
		<div class="row" style="margin-left:0px; margin-right:0px">
			<div class="col-12">
				<div class="section-heading">
					<h3 style="padding-top: 0px;margin-top: -35px;">Popular Courses</h3> <br>
					<p style="font-size: large;">Find some of the most exclusive courses at Skolar with a great demand amongst the students dominant with positive reviews.</p>
				</div>
			</div>
		</div>
    
    <!-- popular courses  -->
		<div class="row" style="margin-left:0px; margin-right:0px">


			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#single-course-test-series">  
						<img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#single-course-test-series">	<h4>Placement test series</h4></a>
						
						<p> 
              Done with your preparation for college placements and other exams? Run through our mock tests and 
              company-specific tests based on an updated test pattern to triumph the game of recruitment with Skolar. 
              Practice does not make perfect. Only right practice makes you perfect!
					</p>
					</div>
			
					<div class="row" style="margin-left:0px; margin-right:0px">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-test-series" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 120
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.6
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/7dCnLAH"><del>₹1999</del><span> </span>₹1499</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
					<a href="#elitmus-test">  
						<img src="/img/imgs/com.jpg">
					<!-- Course Content -->
					<div class="course-content">
					<a href="#elitmus-test">	<h4>eLitmus test series</h4></a>
						
						<p> 
							Dear exam, Please be nice!
							Let’s not say it this time. Join our eLitmus test series to know your real time progress .
							Go through our mock tests and sectional tests and prepare for your exam because at Skolar if the plan doesn’t work, we change the plan not the goal.
							
						</p>
					</div>
			
					<div class="row">
						<div class="col-12">
							<div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#elitmus-test" class="btn clever-btn btn-2">Register</a>
							</div>
						</div>
					</div>	
					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 189
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.3
							</div>
						</div>
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/zT20nTw"><del>₹2299</del><span> </span>₹1899</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Single Popular Course -->
			<div class="col-12 col-md-6 col-lg-4">
				<div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
					<a href="#single-course-placement-training">		
					<img src="/img/imgs/books-in-black-wooden-book-shelf-159711.jpg" alt="">
					</a>
					<div class="course-content">
						<a href="#single-course-placement-training"><h4>Placement training</h4></a>
		
						<p>
							Are you worried about your college placements? Don’t worry, 
							we got your back! We have an ideal course eminently intended 
							for you. Be it campus placement test or any other exams, this 
							course will help you enhance your problem-solving ability and master the tricks
						</p>
					</div>

				
					<div class="row">
						<div class="col-12">
						  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
							<a href="#single-course-placement-training" class="btn clever-btn btn-2">Register</a>
						  </div>
						</div>
					  </div>					

					<!-- Seat Rating Fee -->
					<div class="seat-rating-fee d-flex justify-content-between">
						<div class="seat-rating h-100 d-flex align-items-center">
							<div class="seat">
								<i class="fa fa-user" aria-hidden="true"></i> 362
							</div>
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i> 4.5
							</div>
						</div>	
										
						<div class="course-fee h-100">
							<a href="https://rzp.io/l/XL4vsCP"  ><del>₹6599</del> <span> </span> ₹3599</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row" style="margin-left:0px; margin-right:0px">
			<div class="col-12">
			  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
				<a href="#courses" class="btn clever-btn btn-2">More Courses</a>
			  </div>
			</div>
		</div>

	</div>
</section>
<!-- ##### Popular Courses End ##### -->



<!--##### iframe start #####-->
<div class="row" style="margin-left:0px; margin-right:0px">
	<div class="col-12">
		<div class="section-heading" style="
    margin-bottom:20px ; font-family: Arial, Helvetica, sans-serif;m: 19px";>
			<h3 style="padding-top: 30px;"> Welcome to Skolar!</h3> 
			</div>
	</div>
</div>
<div class="container " style="margin-bottom: 30px; margin-top: 20px;">
	   
	  <div class="panel single-accordion" >
		<div style="position: relative;
		overflow: hidden;
		padding-top: 56.25%;">
		<iframe style="   position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;" src="https://www.youtube.com/embed/4gv8P7HwE60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>
<!--##### iframe end #####-->

<!-- ##### Register Now Start ##### -->
<section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" >
	<!-- Register Contact Form -->
	<div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
		<div class="container-fluid">
			<div class="row" style="margin-left:0px; margin-right:0px">
				<div class="col-12">
					<div class="forms">
						<h4>Request call back</h4>
						<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSftWnR1_Xnf02cj4UzPPpO_pLchapHKAmdx4Z4PcwOEMejJdg/formResponse"
						 method="post" name="google-sheet">
							<div class="row" style="margin-left:0px; margin-right:0px">
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.386275289" type="text" class="form-control" id="text" placeholder="Name" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.463907609" type="email" class="form-control" id="email" placeholder="Email" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.924111246" type="text" class="form-control" id="phone" placeholder="Phone" required>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<div class="form-group">
										<input name="entry.790142071" type="text" class="form-control" id="site" placeholder="Course" required>
									</div>
								</div>
								<div class="col-12">
									<a href="#home"><button type="submit" class="btn clever-btn w-100" >Send Message</button></a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
		<h3>Register Now</h3>
		<p style="font-weight: 600;">
			Struggling to crack the placement test? <br> <br>
			Submit your details and Skolar will help you out. Register for a 15% coupon delivered to your inbox, eligible across all courses right now.
		</p>
		<!-- Register Countdown -->
		
	</div>
</section>
<!-- ##### Register Now End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100-0">
	<div class="container">
		<div class="row" style="margin-left:0px; margin-right:0px">
			<div class="col-12">
				<div class="section-heading">
					<h3>From Our Blog</h3>
				</div>
			</div>
		</div>

		<div class="row" style="margin-left:0px; margin-right:0px">
		     <!-- Single Blog Area -->
				  <!-- Single Blog Area -->
					<div class="col-12 col-lg-6">
						<div
							class="single-blog-area mb-100 wow fadeInUp"
							data-wow-delay="250ms"
						>
							<!-- <img src="img/blog-img/1.jpg" alt=""> -->
							<!-- Blog Content -->
							<div class="blog-content">
								<a href="#blog-4" class="blog-headline">
									<h4>
										Prepare for Aptitude tests: A Guide
									</h4>
								</a>
								<div class="meta d-flex align-items-center">
									Muskan Rastogi
									<span></span>
								</div>
								<p>
									The aptitude test is the first screening test used to filter
									students based on their logical ability, decision-making skills,
									and personality. The aptitude tests help the employers to assess
									the skills and abilities of candidates as it reflects their
									capacity to do the job.
								</p>
							</div>
						</div>
					</div>
		
					<!-- Single Blog Area -->
					<div class="col-12 col-lg-6">
						<div
							class="single-blog-area mb-100 wow fadeInUp"
							data-wow-delay="250ms"
						>
							<!-- <img src="img/blog-img/1.jpg" alt=""> -->
							<!-- Blog Content -->
							<div class="blog-content">
								<a href="#blog-5" class="blog-headline">
									<h4>
										How to prepare for eLitmus tests
									</h4>
								</a>
								<div class="meta d-flex align-items-center">
									Muskan Rastogi
									<span></span>
								</div>
								<p> 
									eLitmus is India’s largest assessment and recruitment company. It
									enables companies to hire talent which performs on the job. this
									exam is very important for freshers as it can help students grab a
									better oppurtunity.
								</p>
							</div>
						</div>
					</div>
		</div>
		<div class="row" style="margin-left:0px; margin-right:0px">
			<div class="col-12">
			  <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
				<a href="#blog" class="btn clever-btn btn-2">More Blogs</a>
			  </div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Blog Area End ##### -->

<!--
<section id="testim" class="testim">
	<div class="row" style="margin-left:0px; margin-right:0px">
		<div class="col-12">
			<div class="section-heading" style="margin-bottom: 0; margin-top: 50px;">
				<h3>Hear from our skolars</h3>
			</div>
		</div>
	</div>	
	<div class="wrap">
			<span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
			<span id="left-arrow" class="arrow left fa fa-chevron-left"></span>
			<ul id="testim-dots" class="dots">
				<li class="dot active"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
				<li class="dot"></li>
			</ul>
			<div id="testim-content" class="cont">
				
				<div class="active">
					<div class="img">
						<img
							src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg"
							alt=""
						/>
					</div>
					<h2>Aman Lodha</h2>
					<p>
						I'm just writing to thank you for this product. 
						I had failed in so many interviews before, but I wanted to get into a 
						top tech company so much that I even enrolled in a Master's program. 
						Even then, I was unsure if I had what it takes to make it. From the moment 
						I heard your first video explanation, I thought 'this is exactly the way to 
						solve an interview question' (plus the extra points you can grab by asking
						clarifying questions). After a few months of studying, mainly on Skolar, 
						I got an offer from SixT.
					</p>
				</div>

				<div>
					<div class="img">
						<img
							src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg"
							alt=""
						/>
					</div>
					<h2>Vishwa Raghavendra</h2>
					<p>
						Initially, I was unsure of how useful the course would be. But thank god I decided to 
						take it up. The course gave me exposure to a lot of things I didn't know and which helped 
						me a lot in getting placed
					</p>
				</div>

				<div>
					<div class="img">
						<img
							src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg"
							alt=""
						/>
					</div>
					<h2>Harsh Tibrewal</h2>
					<p>
						College placements and exams can be a real pain in the ass. Before taking the Skolar 
						courses I used to fail most of the time and felt something was missing from my practice.
						My speed while solving problems was slow and also I used to perform below par in contests on online platforms and there was a lot of confusion on how to go about further. But after sleeping through these online classes and duration I thought it is worth trying. And now I can say that being a member of this course has helped me a lot.
						It also linked me with a great community of aspiring candidates and made me realize that with the 
						needed guidance and support, our goals can truly be achieved and worked upon.
					</p>
				</div>

				<div>
					<div class="img">
						<img
							src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg"
							alt=""
						/>
					</div>
					<h2>Rutvik Shah</h2>
					<p>
						I am thankful to Skolar for the knowledgeable and skillful course they have provided me.
						Everything was explained in detail and every aspect was taken care of. I never felt that
						I was eligible for placements before joining Skolar. Thank You Skolar for helping me 
						achieve the required knowledge and skill set for placements. I highly recommend this
						website to everyone.
					</p>
				</div>

				<div>
					<div class="img">
						<img src="https://image.ibb.co/gUPag7/image.jpg" alt="" />
					</div>
					<h2>Shreya Jain</h2>
					<p>
						Despite being a computer science student ,I was not clear with basic concepts   
						such as algorithms and data structures  ,so I chose skolar  to help me with my 
						placement preparation. The way this program covers  all aspects of placements starting 
						 from aptitude till theoretical concepts for the interviews is very apt .The topics 
						 covered were to the point and the way the lectures are conducted give us a thorough 
						 understanding and the confidence to sit for interviews. This program has helped me 
						 immensely and now I have a secure job all thanks to Skolar.
					</p>
				</div>

			</div>
		</div>

</section>-->
<!-- ##### testimonial area end ##### --> 


<!-- faqs  -->
<div>	
	<div class="container section-heading" style="margin-bottom: 50px; margin-top: 50px;">
	  <div class="clever-faqs">
	  	<h4 style="padding-top: 20px; padding-bottom: 15px;">FAQs</h4>
	      <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
	        <!-- Single Accordian Area -->
	        <div class="panel single-accordion">
	                    <h6><a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	                        How can I register for any program?
	                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
	                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
	                    </a></h6>
	                    <div id="collapseOne" class="accordion-content collapse">
	                      <p>You can browse through various courses from our website and after making the payment 
	                        for the course you will get the daily updates about the courses and access to our LMS 
	                        (learning management system). </p>
	                    </div>
	        </div> 
	            
	        <!-- Single Accordian Area -->
	        <div class="panel single-accordion">
	                    <h6>
	                        <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
	                            Can we get demo classes before registering?
	                        <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
	                        <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
	                        </a>
	                    </h6>
	                    <div id="collapseTwo" class="accordion-content collapse">
	                        <p>Yes, the demo video lectures will be available for recorded courses.
	                        </p>
	                    </div>
	        </div>
	       
	        <!-- Single Accordian Area -->
	        <div class="panel single-accordion">
	                <h6>
	                    <a role="button" aria-expanded="true" aria-controls="collapseSix" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">How can I track my progress?
	                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
	                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
	                    </a>
	                </h6>
	                <div id="collapseSix" class="accordion-content collapse">
	                    <p>You will be able to view your progress about your lectures and assessments on our LMS dashboard.</p>
	                </div>
	        </div>
	
	        <!-- Single Accordian Area -->
	        <div class="panel single-accordion">
	                <h6>
	                    <a role="button" aria-expanded="true" aria-controls="collapseten" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTen">What is the refund policy?
	                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
	                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
	                    </a>
	                </h6>
	                <div id="collapseTen" class="accordion-content collapse">
	                    <p>You can claim the refund within one week of payment for selected courses, we will refund the amount within 24 hours of the refund request.
	                    </p>
	                </div>
	        </div>
	
			</div>
			
		</div>
		
	</div>
	<div class="row" style="margin-left:0px; margin-right:0px">
		<div class="col-12">
			<div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
			<a href="#faq" class="btn clever-btn btn-2">More FAQs</a>
			</div>
		</div>
	</div>
</div>



<script>
	const scriptURL = 'https://script.google.com/macros/s/AKfycbwS-ru-n-j8iFWDTVrn_qFORAM97wxbbp0UDbF1E7cjgKFHXrzf/exec'
	const form = document.forms['google-sheet']
	
	form.addEventListener('submit', e => {
	  e.preventDefault()
	  fetch(scriptURL, { method: 'POST', body: new FormData(form)})
	  .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
	  .catch(error => console.error('Error!', error.message))
	})
</script>
  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
	.countdown {
		text-align: center;
		font-size: 35px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
		margin-top: 10px;
		margin-bottom: 15px;
		color:  white;
	}
</style>