
	<div >
		<h3 class="d-flex justify-content-center" style="line-height: 3.2;">Privacy Policy</h3>
	</div>

<!-- ##### Blog Details Content ##### -->
<div class="blog-details-content section-padding-100 " style="padding-top: 0;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<!-- Blog Details Text -->
				<div class="blog-details-text">
					<p>
                        <b>Skolar Education</b> recognises the importance of maintaining
your privacy. We value your privacy and appreciate your trust in
us. This Privacy Policy sets out how <b>Skolar Education</b> uses and
protects any information that you give <b>Skolar Education</b> when
you use this <b>https://skolar.in/</b> or the <b>Skolar Education</b> mobile
application or any other digital medium and other offline sources
of our Company. <b>Skolar Education</b> is committed to ensure that
your privacy is protected. Should we ask you to provide certain
information by which you can be identified when using this
website, then you can be assured that it will only be used in
accordance with this Privacy Policy as it describes how we treat
user information we collect from you, the policies and procedures
on the collection, use, disclosure and protection of your
information when you use our <b>Skolar Education</b> Platform.
                    </p>
                    <p>
                        This Privacy Policy applies to current and former visitors to
our <b>Skolar Education</b> Platform and to our online customers. By
visiting and/or using our website, you agree to this Privacy Policy.
<b>Skolar Education</b> may change this policy from time to time by
updating this page. You should check this page from time to time
to ensure that you are happy with any changes.
                    </p>
                    <p>
                       <b> www.skolar.in </b> is a property of <b>Skolar Education, Proprietor</b>,
 established under laws of India, having its registered
office at <b> Proprietor, #272 Sangri Colony, Baramulla, Jammu and Kashmir - 193101. </b>
                    </p>
                    <p>
                       <b><u>DEFINITIONS:</u></b> <br>
                       The terms <b>"SKOLAR"</b>, "Company", "we", "us" and "our" refer
to the <b>Skolar Education</b>. 
                    </p>
                    <p>

The term <b>"Skolar Education Platform"</b> refers to <b>www.skolar.in</b>
 or the <b>Skolar Education</b>  mobile application or
any other digital medium and other offline sources.
                    </p>
                    <p>
                        The terms "you" and "your" refer to the user of the <b>www.skolar.in</b>.
                    </p>
                    <p>
                        The term "Group" means, with respect to any person, any
entity that is controlled by such person, or any entity that controls
such person, or any entity that is under common control with
such person, whether directly or indirectly, or, in the case of a
natural person, any Relative (as such term is defined in the
Companies Act, 1956 and Companies Act, 2013 to the extent
applicable) of such person.
                    </p>
                    <p>
                        The term "Services" refers to any services offered by <b>Skolar Education</b> whether on the Skolar Education Platform or otherwise. 
                        <br><br>
                        The term "Policy" refers to this Privacy Policy.
                        <br><br>
                        Please read this Policy before using the <b>Skolar Education</b>
Platform or submitting any personal information to <b>Skolar
    Education</b>. This Policy is a part of and incorporated within, and
is to be read along with, the <a href="http://skolar.in/index.html#terms&conditions">Terms of Use</a>.

                    </p>
				</div>
			</div>
		</div>
	</div>



</div>
<!-- ##### Blog Details Content ##### -->
