<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bg323.jpg);">
  <!-- Content -->
  <div class="single-course-intro-content text-center">
      <!-- Ratings -->
      <div class="ratings">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <h3>Placement Training Program</h3>
  
      <div class="price"> <del>₹6599</del> <span></span> ₹ 3599 </div>
  </div>
</div>
<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
        
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- DESCRIPTION -->
              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                <div class="clever-description">
                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p>
                      A large portion of the students who are planning for placements have to learn quantitative aptitude, logical reasoning and verbal reasoning as 
                      major topics as these domains contain around 60 - 70 percent weightage of the test, trailed by the specialized subjects like C++, C, DSA, DBMS, OS,
                      and networking. <br>
                      However, in general, they lose command over quantitative aptitude and reasoning.  <br>
                      So at Skolar we have come up with a program in which we will start everything from scratch and take you till the end. <br>
                      This course will cover everything from written tests to your placement interviews and puzzles. To get placed in your dream companies, 
                      we have to start preparing earlier so that you are ahead in the competition and have a better chance of grabbing the jobs.
                    </p>
                  </div>
                  <div class="about-course mb-30">
                    <h4>Salient features</h4>
                    <p>
                      1.  8 Weeks course <br>
                      2.  70+ hours of recorded sessions, so that you can enjoy learning at the comfort of your own place and time. <br>
                      3.  Live doubt clearing sessions so that you can clear your doubts with our best mentors. <br>
                      4.  Weekly assignments along with your regular progress cards. <br>
                      5.  Complete guidance about writing your resume so that you can stand out.<br>
                      6.  Training on Interview Puzzles solving. <br>
                      7.  Learn the best tricks with us. Solving questions wont make you winner, solving them in lesser time will. <br>
                      8.  Live sessions on interview preparation.<br>
                    </p>
                  </div>

                  <!-- All Instructors -->
                  <div class="all-instructors mb-30">
                    <h4>All Instructors</h4>

                    <div class="row">
                      <!-- Single Instructor -->
                      <div class="col-lg-6">
                        <div
                          class="single-instructor d-flex align-items-center mb-30"
                        >
                          <div class="instructor-thumb">
                            <img src="img/muskan.jpg" alt="" />
                          </div>
                          <div class="instructor-info">
                            <h5>Muskan Rastogi</h5>
                            <span>Subject Matter Expert and Mentor</span>
                          </div>
                        </div>
                      </div>

                      <!-- Single Instructor -->
                      <div class="col-lg-6">
                        <div
                          class="single-instructor d-flex align-items-center mb-30"
                        >
                          <div class="instructor-thumb">
                            <img src="/img/taufeeq.jpg" alt="" />
                          </div>
                          <div class="instructor-info">
                            <h5>Taufeeq Ahmad</h5>
                            <span>Mentor and Course designer</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                   <!-- FAQ -->
                   <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >Can I just enroll in a single course? I'm not
                            interested in the entire Specialization?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            Yes, you can register in any course of your choice.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >What are the pre-requisites for this course?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, you don't need any prior knowledge to take this course becuse we will be training you from basics.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            You will be able to view your progress about 
                            your assessments on our LMS dashboard.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >Do i need to take the courses in a specific order?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, there is no particular order that you need to follow.
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <!-- CURRICULUM -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      The syllabus of placement training by Skolar is formed in such a way that it covers all
                       the topics of Quantitative Aptitude, Logical Reasoning, Verbal and Non-Verbal Reasoning 
                       in addition to technical round leaving nothing unturned. The syllabus by Skolar is formed 
                       on the updated placement test syllabus, which will help you cover all the topics with lots of
                        tricks and fun.
                    </p>
                  </div>
                  
                   <!-- week1 -->
                   <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 1</span> <span>1/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Number Systems <br />
                      • HCF & LCM <br>
                      • Decimal system <br>
                      • Simplification <br>
                      
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Series Completion 
                    </p>
                    <h5>Verbal Reasoning :</h5>
                    <p>
                      • Synonyms <br>
                      • Antonyms <br>
                      • Paragraph writing 
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Introduction to data structures <br>
                      • Arrays <br>
                      • Stacks <br>
                      • Queues <br>
                    </p>

                  </div>

                   <!-- week2 -->
                   <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 2</span> <span>2/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Average <br />
                      • Ages<br>
                      • Areas<br>
                      • Volumes <br>
                    </p>
                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Analogy <br>
                      • Classification
                    </p>
                    <h5>Verbal Reasoning :</h5>
                    <p>
                      • Rearranging sentences <br>
                      • Idioms and phrases 
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Linked list  <br>
                      • Binary Trees <br>
                    </p>
                  </div>

                  <!-- week3 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 3</span> <span>3/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Percentage <br />
                      • Profit and loss <br>
                      • Calender <br>
                      • Clock <br>
                    </p>

                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Coding <br>
                      • Decoding 
                    </p>
                    <h5>Verbal Reasoning :</h5>
                    <p>
                      • Substitution <br>
                      • Spotting errors
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • AVL Trees  <br>
                      • Binary search trees <br>
                    </p>
                  </div>

                   <!-- week4 -->
                   <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 4</span> <span>4/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Pipes and cisterns <br />
                      • Time and work<br>
                      • Time and Distance <br>
                      • Alligations and mixtures <br>
                    </p>

                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Blood relations <br>
                    </p>
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Splay Trees  <br>
                      • Introduction to Algorithms <br>
                      • Algorithm analysis <br>
                      • Asymptotic Notations
                    </p>
                  </div>

                  <!-- week5 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 5</span> <span>5/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Boats and streams <br />
                      • Trains<br>
                      • Simple interest <br>
                      • Compound Interest <br>
                    </p>

                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Puzzle test <br>
                      • Arrangements
                    </p>
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Sorting algorithms and Analysis  <br>
                      • Searching algorithms and Analysis 
                    </p>
                  </div>

                   <!-- week6 -->
                   <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 6</span> <span>6/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Permuattaion and combination <br />
                      • Probability
                    </p>

                    <h5>Logical Reasoning :</h5>
                    <p>
                      • Number reasoning <br>
                      • Arithmetic resoning 
                    </p>
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Advance linked list <br>
                      • Advance Stacks and queues 
                    </p>
                  </div>

                  <!-- week7 -->
                  <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 7</span> <span>7/8</span>
                    </h4>
                    <h5>Quantitative Aptitude :</h5>
                    <p>
                      • Square roots <br>
                      • surds and indicies 
                    </p>
                    </p>
                    <h5>DSA:</h5>
                    <p>
                      • Recursion <br>
                      • Heaps <br>
                      • Hashtables
                    </p>
                  </div>

                   <!-- week8 -->
                   <div class="curriculum-level mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Week 8</span> <span>8/8</span>
                    </h4>
                    <!-- <h5>Quantitative Aptitude :</h5> -->
                    <p>
                      • Resume Building <br />
                      • Email Writing <br>
                      • Interview preparation <br>
                      • Coding Challenges
                    </p>
                    <!-- <h5>Logical Reasoning :</h5> -->
                    <!-- <p>
                      • Coding Decoding <br />
                      • Blood Relation
                    </p>
                    <h5>Verbal Reasoning :</h5>
                    <p>
                      • Reading Comprehension
                    </p> -->
                  </div>

                </div>
              </div>

        
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/Qwmd5Lx" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >

          <!-- Widget  Course Features-->
          <div class="sidebar-widget">
            <h4>Course Features</h4>
            <ul class="features-list">
              <li>
                <h6>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> Duration
                </h6>
                <h6>8 Weeks</h6>
              </li>
              <li>
                <h6><i class="fa fa-bell" aria-hidden="true"></i> Lectures</h6>
                <h6>30-40</h6>
              </li>
              <li>
                <h6><i class="fa fa-file" aria-hidden="true"></i> Quizzes</h6>
                <h6>10+</h6>
              </li>
              <li>
                <h6>
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i> Pass
                  Percentage
                </h6>
                <h6>75</h6>
              </li>
              <li>
                <h6>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> Max
                  Retakes
                </h6>
                <h6>3</h6>
              </li>
            </ul>
          </div>

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Certification</h4>
           <a href="/img/sample 1.png" target="_blank"><img src="/img/sample 1.png" alt="" /></a>
          </div>
         
            
            
          

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Courses Content End ##### -->
