<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bgqw.jpg)">
  <!-- Content -->
  <div class="single-course-intro-content text-center">
    <!-- Ratings -->
    <div class="ratings">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </div>
    <h3>Placement test Series</h3>
    <!-- <div class="meta d-flex align-items-center justify-content-center">
          <a href="#">Sarah Parker</a>
          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
          <a href="#">Art &amp; Design</a>
      </div> -->
    <div class="price"><del>₹1999</del> <span></span> ₹1499</div> <br> <br>
    <a href="https://forms.gle/3hS94oohgxDQMBcC6" target="_blank" class="call-to-action">Request a call back</a>
  </div>
</div>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- tab list  -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- Description tab -->
              <div
                class="tab-pane fade show active"
                id="tab1"
                role="tabpanel"
                aria-labelledby="tab--1"
              >
                <div class="clever-description">
                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p>
                      Practice does not make perfect. Only perfect practice
                      makes you perfect! <br />
                      So at Skolar we have come with an exemplary course for you
                      through which you can practice and test your preparations
                      and check your regular progress through your personal
                      dashboard. <br />
                      Our test papers are based on an updated placement test
                      pattern and the level of difficulty is gradually
                      increased. In this course, along with the Full Length mock
                      tests, you also get previous year papers of more than 15
                      MNCs like Samsung, Infosys, Accenture, Cognizant, and many
                      more. This course will help you in practicing for your
                      On-Campus and Off-Campus Placement.
                      <br />
                      Because we at Skolar believe,“The more you practice, the
                      better you will become.”
                    </p>
                  </div>

                  <!-- salient features  -->
                  <div class="about-course mb-30">
                    <h4>Salient Features</h4>
                    <p>
                      <b>1.</b> The test series is divided into 8 weeks course.
                      <br />
                      <b>2.</b> Live question Paper discussions so that you can
                      clear your doubts with our mentors and learn how to finish
                      paper before time.
                      <br />
                      <b>3.</b> Live doubt sessions, in case you have any doubts
                      you can clear it with our mentors. <br />
                      <b>4.</b> Personal dashboard to know your actual progress
                      after every exam. <br />
                      <b>5.</b> 10 Full length mock tests, so that you can
                      practice more and more. <br />
                      <b>6.</b> 15+ Company Specific Papers, the previous year
                      papers of companies help you in preparing well for your
                      On-Campus and Off-Campus Placement. <br />
                      <b>7.</b> The question paper and solution are based on
                      updated pattern.
                      <br />
                      <b>8.</b> Real-time result analysis.
                      <br />
                      <b>9.</b> Interview Puzzles, we will prepare you for the
                      interviews as well.
                      <br />
                      <b>10.</b> Mock Interviews, let’s clear it one go.
                    </p>
                  </div>

                  <!-- FAQ -->
                  <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >Can I take this course for Off-Campus Placement ?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            This test series can help you in cracking both
                            off-campus and on-campus placement test.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >Does this test series provide company-specific mock
                            test?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            Yes, we have analysed test patterns of more than 15
                            top MNC's and product based companies to develop our
                            mock test.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            You will be able to view your progress about your
                            assessments on our LMS dashboard.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >Are there any doubt session for mock tests?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            Yes, there will be 2 mocks tests per week and after
                            each mock test our trainers will have a live session
                            with you where they will answer your question and
                            solve the mocks test paper again.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Curriculum tab -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      This course covers the entire syllabus of quantitative
                      reasoning, Logical reasoning , Verbal Reasoning as well as
                      technical questions asked in college placements or any
                      other placement exam. <br />
                      The syllabus of this test series is based on the updated
                      syllabus of the placements covering all the topics asked
                      in On-Campus and Off-Campus Placement.
                    </p>
                    <img src="/img/1-syllabus.png" alt="" />
                    <img src="/img/2-syllabus.png" alt="" />
                    <img src="/img/3-syllabus.png" alt="" />
                  </div>

                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Tests specific to companies</h4>
                    <p>
                      Abacus <br />
                      Accenture <br />
                      Accenture <br />
                      Adobe <br />
                      Amazon <br />
                      TCS <br />
                      DELL <br />
                      L&T<br />
                      Samsung <br />
                      Wipro <br />
                      Cognizant<br />
                      Infosys <br />
                      Accenture <br />
                      Capegemini <br />
                      Cognizant <br />
                      Google <br />
                      HCL <br />
                      IBM <br />
                      Infosys<br />
                      Microsoft <br />
                      Quest Global and more
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/7dCnLAH" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Course Features</h4>
            <ul class="features-list">
              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: crimson"
                    class="fa fa-clock-o"
                    aria-hidden="true"
                  ></i>
                  8 week course
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: darkgray"
                    class="fa fa-file-alt"
                    aria-hidden="true"
                  ></i
                  >10 Mock Tests
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: darksalmon"
                    class="fa fa-file"
                    aria-hidden="true"
                  ></i
                  >15 Company specific test
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: blue"
                    class="fa fa-video"
                    aria-hidden="true"
                  ></i>
                  Live question paper analysis
                </h6>
              </li>

              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: rgb(230, 182, 79)"
                    class="fa fa-thumbs-up"
                    aria-hidden="true"
                  ></i>
                  Best mentors
                </h6>
              </li>

              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: rgb(24, 145, 24)"
                    class="fa fa-whatsapp"
                    aria-hidden="true"
                  ></i>
                  WhatsApp assistance
                </h6>
              </li>

              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: rgb(148, 93, 143)"
                    class="fa fa-handshake"
                    aria-hidden="true"
                  ></i>
                  Mock interviews
                </h6>
              </li>
              <li>
                <h6 style="color: rgb(90, 87, 87)">
                  <i
                    style="color: rgb(93, 194, 212)"
                    class="fa fa-file"
                    aria-hidden="true"
                  ></i>
                  Resume building
                </h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  ##### Courses Content End #####  -->
