<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bgqw.jpg">
  <!-- Content -->
  <div class="single-course-intro-content text-center">
      <!-- Ratings -->
      <div class="ratings">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <h3>Placement Training Program</h3>
      <!-- <div class="meta d-flex align-items-center justify-content-center">
          <a href="#">Sarah Parker</a>
          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
          <a href="#">Art &amp; Design</a>
      </div> -->
      <div class="price"> ₹ 3500 <s>₹ 7999</s> </div>
  </div>
</div>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="course--content">

					<div class="clever-tabs-content">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
									aria-selected="false">Description</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
									aria-selected="true">Curriculum</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
									aria-selected="true">Reviews</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab--4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"
									aria-selected="true">Members</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab--5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5"
									aria-selected="true">Forum</a>
							</li> -->
						</ul>

						<div class="tab-content" id="myTabContent">
							<!-- Description tab -->
							<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
								<div class="clever-description">

									<!-- About Course -->
									<div class="about-course mb-30">
										<h4>About this course</h4>
										<p>
                      Practice does not make perfect. Only perfect practice makes you perfect! <br>
                      So at Skolar we have come with an exemplary course for you through which you 
                      can practice and test your preparations and check your regular progress through 
                      your personal dashboard. <br> The test papers are based on an updated placement test
                      pattern and the level of difficulty is gradually increased. In this course,
                      along with the mock tests, you also get the previous year papers of companies like Samsung, 
                      Infosys, Accenture, Cognizant, and many more. <br>
                      Because we at Skolar believe,“The more you practice, the better you will become.”
                    </p>
                  </div>
                  
                  <!-- salient features  -->
                  <div class="about-course mb-30">
										<h4>Salient Features</h4>
										<p>
                      <b>1.</b>  8 weeks course <br>
                      <b>2.</b>  Mock test papers to evaluate your preparation level.  <br>
                      <b>3.</b>  Personal dashboard to know your progress. <br>
                      <b>4.</b>  Live doubt classes to clear your doubt by our experts. <br>
                      <b>5.</b>  Expert explanation for every questions. <br>
                      <b>6.</b>  Company specific tests based on the updated test pattern. <br>
                      <b>7.</b>  It contains the test papers of companies like Accenture, Cognizant, Infosys, Bosch, Abacus and many more on their updated pattern.  <br>
                    </p>
									</div>

									<!-- All Instructors -->
									<div class="all-instructors mb-30">
										<h4>All Instructors</h4>

										<div class="row">
											<!-- Single Instructor -->
											<div class="col-lg-6">
												<div class="single-instructor d-flex align-items-center mb-30">
													<div class="instructor-thumb">
														<img src="img/bg-img/t1.png" alt="">
													</div>
													<div class="instructor-info">
														<h5>Sarah Parker</h5>
														<span>Teacher</span>
													</div>
												</div>
											</div>

											<!-- Single Instructor -->
											<div class="col-lg-6">
												<div class="single-instructor d-flex align-items-center mb-30">
													<div class="instructor-thumb">
														<img src="img/bg-img/t2.png" alt="">
													</div>
													<div class="instructor-info">
														<h5>Sarah Parker</h5>
														<span>Teacher</span>
													</div>
												</div>
											</div>

											<!-- Single Instructor -->
											<div class="col-lg-6">
												<div class="single-instructor d-flex align-items-center mb-30">
													<div class="instructor-thumb">
														<img src="img/bg-img/t3.png" alt="">
													</div>
													<div class="instructor-info">
														<h5>Sarah Parker</h5>
														<span>Teacher</span>
													</div>
												</div>
											</div>

											<!-- Single Instructor -->
											<div class="col-lg-6">
												<div class="single-instructor d-flex align-items-center mb-30">
													<div class="instructor-thumb">
														<img src="img/bg-img/t4.png" alt="">
													</div>
													<div class="instructor-info">
														<h5>Sarah Parker</h5>
														<span>Teacher</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- FAQ -->
									<div class="clever-faqs">
										<h4>FAQs</h4>

										<div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">

											<!-- Single Accordian Area -->
											<div class="panel single-accordion">
												<h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne"
														data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I just enroll in a
														single course? I'm not interested in the entire Specialization?
														<span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
														<span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
													</a></h6>
												<div id="collapseOne" class="accordion-content collapse show">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus
														in, sagittis fringilla tortor.</p>
												</div>
											</div>

											<!-- Single Accordian Area -->
											<div class="panel single-accordion">
												<h6>
													<a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo"
														data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">What is the refund
														policy?
														<span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
														<span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
													</a>
												</h6>
												<div id="collapseTwo" class="accordion-content collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper
														finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
														vulputate id justo quis facilisis.</p>
												</div>
											</div>

											<!-- Single Accordian Area -->
											<div class="panel single-accordion">
												<h6>
													<a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
														data-parent="#accordion" data-toggle="collapse" href="#collapseThree">What background
														knowledge is necessary?
														<span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
														<span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
													</a>
												</h6>
												<div id="collapseThree" class="accordion-content collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper
														finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
														vulputate id justo quis facilisis.</p>
												</div>
											</div>

											<!-- Single Accordian Area -->
											<div class="panel single-accordion">
												<h6>
													<a role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed"
														data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Do i need to take the
														courses in a specific order?
														<span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
														<span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
													</a>
												</h6>
												<div id="collapseFour" class="accordion-content collapse">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel lectus eu felis semper
														finibus ac eget ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
														vulputate id justo quis facilisis.</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<!-- Curriculum tab -->
							<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
								<div class="clever-curriculum">

									<!-- About Curriculum -->
									<div class="about-curriculum mb-30">
										<h4>Syllabus</h4>
										<p>
                      This course covers the entire syllabus of quantitative reasoning, Logical reasoning ,
                       Verbal Reasoning as well as technical questions asked in college placements or any other 
                       placement exam.
                    </p>
									</div>

									<!-- Curriculum Level -->
									<div class="curriculum-level mb-30">
										<h4 class="d-flex justify-content-between"><span>Week 1</span> <span>0/4</span></h4>
										<h5>Beginners Level</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in,
											sagittis fringilla.</p>

										<ul class="curriculum-list">
											<li><i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1 reading
												<ul>
													<li>
														<span><i class="fa fa-video-camera" aria-hidden="true"></i> Video: <span>Greetings and
																Introductions</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
													<li>
														<span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word
																Types</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
													<li>
														<span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening
																Exercise</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
												</ul>
											</li>
											<li class="d-flex justify-content-between">
												<span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language
													Quiz</span>
												<span>3 Questions</span>
											</li>
										</ul>
									</div>

									<!-- Curriculum Level -->
									<div class="curriculum-level mb-30">
										<h4 class="d-flex justify-content-between"><span>Week 2</span> <span>0/5</span></h4>
										<h5>Intermediate Level</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in,
											sagittis fringilla.</p>

										<ul class="curriculum-list">
											<li><i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1 reading
												<ul>
													<li>
														<span><i class="fa fa-video-camera" aria-hidden="true"></i> Video: <span>Greetings and
																Introductions</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
													<li>
														<span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word
																Types</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
													<li>
														<span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening
																Exercise</span></span>
														<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
													</li>
												</ul>
											</li>
											<li class="d-flex justify-content-between">
												<span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language
													Quiz</span>
												<span>3 Questions</span>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="course-sidebar">
					<!-- Buy Course -->
					<a href="https://rzp.io/l/S8CjlN9" class="btn clever-btn mb-30 w-100">Buy course</a>

					<!-- Widget -->
					<div class="sidebar-widget">
						<h4>Course Features</h4>
						<ul class="features-list">
							<li>
								<h6><i class="fa fa-clock-o" aria-hidden="true"></i> Duration</h6>
								<h6>2 Weeks</h6>
							</li>
							<li>
								<h6><i class="fa fa-bell" aria-hidden="true"></i> Lectures</h6>
								<h6>10</h6>
							</li>
							<li>
								<h6><i class="fa fa-file" aria-hidden="true"></i> Quizzes</h6>
								<h6>3</h6>
							</li>
							<li>
								<h6><i class="fa fa-thumbs-up" aria-hidden="true"></i> Pass Percentage</h6>
								<h6>60</h6>
							</li>
							<li>
								<h6><i class="fa fa-thumbs-down" aria-hidden="true"></i> Max Retakes</h6>
								<h6>5</h6>
							</li>
						</ul>
					</div>

					<!-- Widget -->
					<div class="sidebar-widget">
						<h4>Certification</h4>
						<img src="img/bg-img/cer.png" alt="">
					</div>

					<!-- Widget -->
					<div class="sidebar-widget">
						<h4>You may like</h4>

						<!-- Single Courses -->
						<div class="single--courses d-flex align-items-center">
							<div class="thumb">
								<img src="img/bg-img/yml.jpg" alt="">
							</div>
							<div class="content">
								<h5>Vocabulary</h5>
								<h6>$20</h6>
							</div>
						</div>

						<!-- Single Courses -->
						<div class="single--courses d-flex align-items-center">
							<div class="thumb">
								<img src="img/bg-img/yml2.jpg" alt="">
							</div>
							<div class="content">
								<h5>Expository writing</h5>
								<h6>$45</h6>
							</div>
						</div>

						<!-- Single Courses -->
						<div class="single--courses d-flex align-items-center">
							<div class="thumb">
								<img src="img/bg-img/yml3.jpg" alt="">
							</div>
							<div class="content">
								<h5>Vocabulary</h5>
								<h6>$20</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ##### Courses Content End ##### -->