<div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(img/imgs/bg323.jpg);">
  <!-- Content -->
  <div class="single-course-intro-content text-center">
      <!-- Ratings -->
      <div class="ratings">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <h3>Placement Training Program</h3>
  
      <div class="price"> <del>₹20000</del> <span></span> ₹16000 </div> <br> <br>
      <a href="https://forms.gle/3hS94oohgxDQMBcC6" target="_blank" class="call-to-action">Request a call back</a>
  </div>
</div>

<section style="background-color: #ccd4ec;" >
	<div class="row" style="margin-left:0px; margin-right:0px">
		<div class="col-12">
      <div class="section-heading" style=" margin-bottom:20px ;">
      <h5 style="padding-top: 30px; letter-spacing: 2px; ">EXTRAS WITH THIS COURSE FOR FREE </h5> 
      <p>10 Mock test papers to practice more and more. <br>
        Company specific test papers to solve the previous year questions.</p>
			</div>
		</div>
	</div>	
</section>

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="course--content">
          <div class="clever-tabs-content">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab--1"
                  data-toggle="tab"
                  href="#tab1"
                  role="tab"
                  aria-controls="tab1"
                  aria-selected="false"
                  >Description</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab--2"
                  data-toggle="tab"
                  href="#tab2"
                  role="tab"
                  aria-controls="tab2"
                  aria-selected="true"
                  >Curriculum</a
                >
              </li>
        
            </ul>

            <div class="tab-content" id="myTabContent">
              <!-- DESCRIPTION -->
              <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                <div class="clever-description">

                  <!-- About Course -->
                  <div class="about-course mb-30">
                    <h4>About this course</h4>
                    <p >
                      Our course  is distributed over 12 weeks, which helps students to learn all the topics easily along with helping them to assess their understanding of the concept with weekly assignments. <br>
                      This course is all that you need to crack your placement in one go  as we prepare with our specialization in Resume building, Solving Interview puzzles and Mock Interviews.
                      And this is not all.  <br>
                      we also give whatsapp assistance to make it easier for you to contact our mentors. We value your time and get back to you as soon as we can!  

                    </p>
                  </div>
                  <div class="about-course mb-30">
                    <h4>Salient features</h4>
                    <p >
                      1.  12 Weeks course, to make learning easier for you.
                      <br>
                      2.  150+ hours of Learning, and 70+ hours of recorded sessions so that you can enjoy learning at the comfort of your own place and time.
                      <br>
                      3.  Live doubt clearing sessions with our best mentors.
                      <br>
                      4.  Weekly assignments along with your regular progress reports.
                      <br>
                      5.  Complete guidance about writing your resume so that you can stand out.
                      <br>
                      6.  Live training on data structures and competitive coding.
                      <br>
                      7.  Learn the best tricks with us. Solving questions wont make you winner, solving them in lesser time will.
                      <br>
                      8.   Live sessions on interview preparation, resume building, interview hacks and many more things to make your preparation fun!
                      <br>
                      9.   Mock Interviews

                    </p>
                    
                  </div>               
                   <!-- FAQ -->
                   <div class="clever-faqs">
                    <h4>FAQs</h4>

                    <div
                      class="accordions"
                      id="accordion"
                      role="tablist"
                      aria-multiselectable="true"
                    >
                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class=""
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            >How can this course help me?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseOne"
                          class="accordion-content collapse show"
                        >
                          <p>
                            This course covers everything from your Test preparation to the mock Interviews. Be it your Resume building or written tests.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            class="collapsed"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            >What are the pre-requisites for this course?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseTwo"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, you don't need any prior knowledge to take this course becuse we will be training you from basics.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseThree"
                            >How can I track my progress?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseThree"
                          class="accordion-content collapse"
                        >
                          <p>
                            You will be able to view your progress about 
                            your assessments on our LMS dashboard.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFour"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFour"
                            >Do i need to take the courses in a specific order?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFour"
                          class="accordion-content collapse"
                        >
                          <p>
                            No, there is no particular order that you need to follow.
                          </p>
                        </div>
                      </div>

                      <!-- Single Accordian Area -->
                      <div class="panel single-accordion">
                        <h6>
                          <a
                            role="button"
                            aria-expanded="true"
                            aria-controls="collapseFive"
                            class="collapsed"
                            data-parent="#accordion"
                            data-toggle="collapse"
                            href="#collapseFive"
                            >Can I take this course for off-Campus placement also?
                            <span class="accor-open"
                              ><i class="fa fa-plus" aria-hidden="true"></i
                            ></span>
                            <span class="accor-close"
                              ><i class="fa fa-minus" aria-hidden="true"></i
                            ></span>
                          </a>
                        </h6>
                        <div
                          id="collapseFive"
                          class="accordion-content collapse"
                        >
                          <p>
                            YES! This course has covered everything for on-Campus and Off-Campus Placements.
                          </p>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                </div>
              </div>

              <!-- CURRICULUM -->
              <div
                class="tab-pane fade"
                id="tab2"
                role="tabpanel"
                aria-labelledby="tab--2"
              >
                <div class="clever-curriculum">
                  <!-- About Curriculum -->
                  <div class="about-curriculum mb-30">
                    <h4>Syllabus</h4>
                    <p>
                      The curriculum of Placement Training Program by Skolar is divided into 8 weeks such that it covers all the topics of Quantitative Aptitude, Logical Reasoning, Verbal and Non-Verbal Reasoning in addition to technical rounds leaving nothing unturned. The curriculum by Skolar is formed on the updated placement test syllabus, which will help you cover all the topics with lots of tricks and fun and is given below.
</p>
                  </div>

                  <div class="about-curriculum mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Quantitative Aptitude</span> <span></span>
                    </h4>
                    <p> 
                      Probability <br>
                      Permutations & Combinations<br>
                      Mensuration<br>
                      Algebra, Percentages<br>
                      Ratio, Proportion, Partnerships<br>
                      Geometry<br>
                      Mixtures & Allegations<br>
                      Simplifications & Approximations<br>
                      Age<br>
                      Progressions-Arithmetic, Geometric, Harmonic<br>
                      Quadratic Equations<br>
                      Trigonometry<br>
                      Heights & Distances<br>
                      Simple Equations<br>
                      Inequalities<br>
                      
                    </p>

                  </div>

                 <div class="about-curriculum mb-30">
                    <h4 class="d-flex justify-content-between">
                      <span>Reasoning</span> <span>2/6</span>
                    </h4>
                    <p> 
                      Coding Decoding
                      <br> Series-Missing number, odd one out
                      <br> Cause & Effect
                      <br> Direction & Ranking
                      <br> Blood Relations
                      <br> syllogism
                      <br> Assumptions, Premise & Conclusion
                      <br> Assertion & Reasoning
                      <br> Symbol Based Problems
                      <br> Input & Output
                      <br> Statements & Assumptions
                      <br> Statements & Arguments
                      <br> Matrix Arrangement
                      <br> Analogy Test
                      <br> Mapping & Best Routes
                      <br> Objective Reasoning
                      <br> Selection Decision Tables
                    </p>
                 </div> 

                 <div class="about-curriculum mb-30">
                  <h4 class="d-flex justify-content-between">
                    <span>Operating System</span> <span></span>
                  </h4>
                  <p> 
                   Introduction
                  <br>  CPU Scheduling
                  <br>  Process Synchronisation
                  <br>  Algorithms
                  <br>  Deadlock
                  <br>  Memory Management
                  </p>
               </div>

               <div class="about-curriculum mb-30">
                <h4 class="d-flex justify-content-between">
                  <span>Database Management System </span> <span></span>
                </h4>
                <p> 
                 Introduction
                <br>  Architecture and Models
                  <br> ER Model
                  <br> Relational Database Model
                  
                 </p>
             </div>

             <div class="about-curriculum mb-30">
              <h4 class="d-flex justify-content-between">
                <span>Datastructres and algorithms </span> <span></span>
              </h4>
              <p> 
             Array
            <br>  Binary tree
            <br>  braph
            <br>  Linked List
            <br>  Binary Search Tree
            <br>  Heap
            <br>  Matrix
            <br>  Stack
            <br>  Misc
            <br>  Queue
            <br>  Hashing
             <br> Advanced Data Structure
            <br>  Binary Search
            <br>  Search an element in a sorted and rotated array
            <br>  Bubble Sort
            <br>  Insertion Sort
            <br>  Merge Sort
            <br>  Heap Sort (Binary Heap)
            <br>  Quick Sort
            <br>  Interpolation Search          
               </p>
           </div>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-lg-4">
        <div class="course-sidebar">
          <!-- Buy Course -->
          <a href="https://rzp.io/l/FP-PPP-L1" class="btn clever-btn mb-30 w-100"
            >Buy course</a
          >
         
          <!-- Widget  Course Features-->
          <div class="sidebar-widget" style="background-color: rgb(245, 239, 239); border-radius: 5px;">
            <h4>Course Features</h4>
            <ul class="features-list" >
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: crimson;" class="fa fa-clock-o" aria-hidden="true"></i> 150+ hours of learning
                </h6>
                <!-- <h6>8 Weeks</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: rgb(255, 187, 0);" class="fa fa-bell" aria-hidden="true"></i> Weekly Assignment
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: blue;" class="fa fa-video" aria-hidden="true"></i> Live Doubt Clearing sessions
                </h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: darkred;" class="fa fa-chart-line" aria-hidden="true"></i> Personal Dashboard</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: green;" class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp assistance</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: indianred;" class="fa fa-handshake" aria-hidden="true"></i> MOCK Interviews</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i style="color: rgb(64, 182, 230);" class="fa fa-user-graduate" aria-hidden="true"></i> Expert Mentorship</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              <li>
                <h6 style="color: rgb(39, 39, 39);">
                  <i class="fa fa-stamp" aria-hidden="true"></i> Certificate</h6>
                <!-- <h6>30-40</h6> -->
              </li>
              
              
            </ul>
          </div>

          <!-- Widget -->
          <div class="sidebar-widget">
            <h4>Certification</h4>
           <a href="/img/c2.PNG" target="_blank"><img src="/img/c2.PNG" alt="" /></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ##### Courses Content End ##### -->

