<!-- Single Popular Course -->
<div class="col-12 col-md-6 col-lg-4">
  <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
    <a href="#">  
      <img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
    <!-- Course Content -->
    <div class="course-content">
    <a href="#">	<h4>CoCubes Test Series</h4></a>
      
      <p> 
        Done with your preparation for college placements and other exams? Run through our mock tests and 
        company-specific tests based on an updated test pattern to triumph the game of recruitment with Skolar. 
        Practice does not make perfect. Only right practice makes you perfect!
    </p>
    </div>

    <div class="row" style="margin-left:0px; margin-right:0px">
      <div class="col-12">
        <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
        <a href="#" class="btn clever-btn btn-2">Register</a>
        </div>
      </div>
    </div>	
    <!-- Seat Rating Fee -->
    <div class="seat-rating-fee d-flex justify-content-between">
      <div class="seat-rating h-100 d-flex align-items-center">
        <div class="seat">
          <i class="fa fa-user" aria-hidden="true"></i> 840
        </div>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i> 4.3
        </div>
      </div>
      <div class="course-fee h-100">
        <a href="https://rzp.io/l/S8CjlN9"><del>₹1499</del><span> </span>₹999</a>
      </div>
    </div>
  </div>
</div>

<!-- Single Popular Course -->
<div class="col-12 col-md-6 col-lg-4">
  <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
    <a href="#elitmus-test">  
      <img src="/img/imgs/smiling-woman-holding-white-android-smartphone-while-sitting-1462631.jpg">
    <!-- Course Content -->
    <div class="course-content">
    <a href="#elitmus-test">	<h4>eLitmus Test series</h4></a>
      
      <p> 
        Done with your preparation for college placements and other exams? Run through our mock tests and 
        company-specific tests based on an updated test pattern to triumph the game of recruitment with Skolar. 
        Practice does not make perfect. Only right practice makes you perfect!
    </p>
    </div>

    <div class="row" style="margin-left:0px; margin-right:0px">
      <div class="col-12">
        <div class="load-more text-center wow fadeInUp" data-wow-delay="1000ms" style="padding-bottom: 29px;">
        <a href="#elitmus-test" class="btn clever-btn btn-2">Register</a>
        </div>
      </div>
    </div>	
    <!-- Seat Rating Fee -->
    <div class="seat-rating-fee d-flex justify-content-between">
      <div class="seat-rating h-100 d-flex align-items-center">
        <div class="seat">
          <i class="fa fa-user" aria-hidden="true"></i> 840
        </div>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i> 4.3
        </div>
      </div>
      <div class="course-fee h-100">
        <a href="https://rzp.io/l/S8CjlN9"><del>₹1499</del><span> </span>₹999</a>
      </div>
    </div>
  </div>
</div>