<!-- ##### Google Maps ##### -->
<div class="map-area">
  <div id="googleMap">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6600.157330372422!2d74.34480640975976!3d34.19546643783719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1a9d97a8cfd7f%3A0x32dd47ca2e22966!2zMzTCsDExJzQ2LjAiTiA3NMKwMjAnMzYuNiJF!5e0!3m2!1sen!2sin!4v1595057341767!5m2!1sen!2sin"
      width="800"
      height="600"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</div>
